﻿@charset "UTF-8";

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */


/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */


/* Document
   ========================================================================== */

html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}


/* Sections
   ========================================================================== */


/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}


/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
    /* 1 */
    display: block;
}


/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
   ========================================================================== */


/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}


/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}


/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}


/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}


/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 */

audio,
video {
    display: inline-block;
}


/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}


/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}


/* Forms
   ========================================================================== */


/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}


/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}


/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
   ========================================================================== */


/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
    display: block;
}


/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}


/* Scripting
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 */

canvas {
    display: inline-block;
}


/**
 * Add the correct display in IE.
 */

template {
    display: none;
}


/* Hidden
   ========================================================================== */


/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}


/**
 * Set up a decent box model on the root element
 */

html {
    box-sizing: border-box;
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
}


/**
 * Basic styles for links
 */

a {
    color: #00b904;
    text-decoration: none;
}

a:hover {
    color: #e76303;
}

.grey-txt {
    color: #919191 !important;
}

.padl-10 {
    padding-left: 10px;
}

.padb-10 {
    padding-bottom: 10px !important;
}

.padb-20 {
    padding-bottom: 20px !important;
}

.padb-30 {
    padding-bottom: 30px !important;
}

.pad-20 {
    padding: 20px !important;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
    border: solid 1px #ededed;
}

.n-cont .container {
    width: 100%;
    max-width: 1280px !important;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Xtra large screens
––––––––––––––––––––––––––––––––––––––––––––––––––*/

@media only screen and (max-width: 2000px) and (min-width: 1350px) {
    .container {
        width: 100% !important;
        max-width: 1700px !important;
        padding: 0 50px !important;
    }
}


/* BEGIN Roboto Light */

@font-face {
    font-family: 'robotolight';
    src: url("../fonts/roboto/light/Roboto-Light-webfont.eot");
    src: url("../fonts/roboto/light/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/light/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto/light/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/roboto/light/Roboto-Light-webfont.svg#robotolight") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Light */


/* BEGIN Roboto Regular */

@font-face {
    font-family: 'robotoregular';
    src: url("../fonts/roboto/regular/Roboto-Regular-webfont.eot");
    src: url("../fonts/roboto/regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/regular/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto/regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto/regular/Roboto-Regular-webfont.svg#robotoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Regular */


/* BEGIN Roboto Medium */

@font-face {
    font-family: 'robotomedium';
    src: url("../fonts/roboto/medium/Roboto-Medium-webfont.eot");
    src: url("../fonts/roboto/medium/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/medium/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/roboto/medium/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/roboto/medium/Roboto-Medium-webfont.svg#robotomedium") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Medium */


/* BEGIN Roboto Bold */

@font-face {
    font-family: 'robotobold';
    src: url("../fonts/roboto/bold/Roboto-Bold-webfont.eot");
    src: url("../fonts/roboto/bold/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/bold/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/roboto/bold/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/roboto/bold/Roboto-Bold-webfont.svg#robotobold") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Bold */


/**
 * Basic typography style for copy text
 */

body {
    color: #444444;
    /*font: normal 125% / 1.4 "Lato"; */
    font-family: "robotoregular";
}

.it-txt {
    font-style: italic;
}

.ban-content h2 {
    font-family: "robotobold";
    font-size: 35px;
    color: #ededed;
    max-width: 700px;
    margin: 15px auto 30px;
}

.shop-container h2 {
    font-family: "robotobold";
    font-size: 22px;
    color: #444444;
    margin-top: 0;
    margin-bottom: 10px;
    position: absolute;
    z-index: 2;
    /*background: rgba(0,0,0,.5);*/
    padding: 10px 50px 10px 20px;
    background: linear-gradient(to right, #dedede, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(to right, #dedede, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(to right, #dedede, rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(to right, #dedede, rgba(0, 0, 0, 0));
}

.heading2 {
    font-family: "robotobold";
    font-size: 22px;
    color: #444444;
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading3 {
    font-family: "robotoregular";
    font-size: 16px;
    color: #444444;
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading4 {
    font-family: "robotoregular";
    font-size: 24px;
    color: #444444;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: uppercase;
}

.cat-txt {
    color: #444444;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
}

.price-text {
    color: #00b904;
    font-size: 14px;
    font-family: "robotobold";
    letter-spacing: 0.75px;
}

.prod-title-s {
    font-size: 14px;
    /*font-weight: 700;*/
    color: #444444;
    height: 34px;
}

.prod-title-s a {
    color: #444444;
}

.prod-title-s a:hover {
    color: #00b904;
    text-decoration: none;
}

.prod-title-b {
    font-size: 18px;
    font-family: "robotobold";
    margin: 10px 0;
    color: #444444;
    line-height: 22px;
}

.prod-title-b a {
    color: #444444;
}

.prod-title-b a:hover {
    color: #00b904;
    text-decoration: none;
}

.green-txt {
    color: #00b904 !important;
}

.green-txt a:hover {
    color: #e76303;
    text-decoration: none;
}

.dt-heading {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px #e5e5e5;
    margin: 15px 0;
}

.dt-heading h2 {
    font-size: 18px;
    color: #444444;
    text-transform: uppercase;
}

.lead {
    font-family: 'robotolight';
}

.d-grey-txt {
    color: #444444;
}

.m-grey-txt {
    color: #919191;
}

.white-txt {
    color: #fff;
}

@media only screen and (max-width: 1370px) {
    .ban-content h2 {
        font-size: 25px;
        max-width: 550px;
    }
}


/**
 * Clear inner floats
 */

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}


/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */

.container {
    max-width: 1280px;
    /* 1 */
    margin-left: auto;
    /* 2 */
    margin-right: auto;
    /* 2 */
    padding-left: 20px;
    /* 3 */
    padding-right: 20px;
    /* 3 */
    width: 100%;
    /* 1 */
}


/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */

.hide-text {
    overflow: hidden;
    padding: 0;
    /* 1 */
    text-indent: 101%;
    white-space: nowrap;
}


/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.header-top-area {
    left: 0;
    /*position: fixed; */
    top: 0;
    transition: all 0.4s ease-out 0s;
    width: 100%;
    z-index: 999;
    /*border-bottom: solid 3px $green; */
    padding: 25px 0;
}

.logo {
    /* padding-top: 26px; */
    transition: all 0.3s ease-out 0s;
}

.logo a {
    color: #ededed;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-top-area.stick-menu {
    /*box-shadow:0 2px 10px -1px rgba(87, 97, 100, 0.35); */
    transition: .5s;
    padding: 15px 0;
    position: fixed;
}

.header-top-area.stick-menu {
    background: #fff none repeat scroll 0 0;
    z-index: 999;
}

.header-top-area.stick-menu .logo {
    /*  padding-top: 18px; */
}

.header-top-area.stick-menu .menu>ul>li a {
    color: #444444;
    transition: all 0.3s ease 0s;
}

.header-top-area.stick-menu .mainmenu .navbar-nav li a:hover {
    color: #00aded;
    transition: .3s;
}

.header-top-area.stick-menu .logo a {
    color: #00aded;
    transition: .3s;
}

.header-top-area.stick-menu .mainmenu .navbar-nav li.active a {
    color: #00aded;
    transition: .3s;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width: 100%;
    /* margin: 0 auto;
    background: $light-grey; */
    font-size: 14px;
    text-align: right;
}

.mnu {
    width: 69%;
    display: inline-block;
}


/* Header changed version */

.stick-menu {
    /* border-bottom : solid 3px #00b904; */
    box-shadow: 0px 0px 10px #999;
}

.header-top-area.stick-menu .ban-content h2 {
    display: none;
}

.header-top-area.stick-menu .ban-content {
    margin-top: 0;
    width: 65%;
    display: inline-block;
}

.header-top-area.stick-menu .it-txt {
    display: none;
}

.header-top-area.stick-menu .searchbar {
    margin: 0;
}

.header-top-area.stick-menu .searchbar .input-group-prepend {
    border-radius: 7px;
    border: solid 2px #00b904;
}

.header-top-area.stick-menu .filter-btn {
    width: auto;
    height: auto;
    font-size: 14px;
    background: linear-gradient(#eeeeee, #cfcfcf);
    background: -moz-linear-gradient(#eeeeee, #cfcfcf);
    background: -o-linear-gradient(#eeeeee, #cfcfcf);
    background: -webkit-linear-gradient(#eeeeee, #cfcfcf);
    padding: 10px;
    border: none;
    margin: 0;
    color: #444444;
    line-height: 16px;
    border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 5px;
}

.header-top-area.stick-menu .searchbar input[type="text"] {
    padding: 7px 20px;
    font-size: 14px;
    line-height: 16px;
    height: auto;
}

.header-top-area.stick-menu .searchbar .srch-btn i {
    padding: 2px 15px;
    font-size: 14px;
}

.htop {
    border-bottom: solid 1px #e5e5e5;
}

.htop .menu>ul>li a {
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    color: #919191;
}

.signin {
    background: #00b904;
    padding: 2px 15px !important;
    border-radius: 0px;
}

.signin a {
    color: #fff;
    line-height: 18px !important;
    padding: 10px 26px;
}

.signin a:hover {
    color: #fff !important;
}

.signin:hover {
    border-radius: 0px;
    background: #ededed;
}


/* inner page header */

.white-bg {
    background: #fff;
}

.inner-head {
    padding: 20px 0;
}

.inner-head .searchbar {
    margin: 0px;
}

.inner-head .filter-btn {
    padding: 10px 15px;
    border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
}

.inner-head .searchbar input[type="text"] {
    padding: 20px 20px;
    border: none;
}

.inner-head .searchbar .srch-btn i {
    padding: 4px 10px;
}

.inner-head .input-group-prepend {
    border: solid 2px #00b904;
    border-radius: 7px;
}

.inner-head .stick-menu .htop {
    display: none;
}

.srch {
    width: 69%;
    display: inline-block;
}

.logo-container {
    width: 30%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}


/* menu */

.wsmenu-list {
    text-align: right;
}

.wsmenu-list>li {
    float: none;
    display: inline-block;
}

.megamenu {
    top: 39px;
    background: #ededed;
}

.halfmenu {
    width: auto;
}

.wsmenu-list>li>.navtext {
    padding: 10px 24px;
    margin: 0;
}

.wsmenu-list>li>a:hover {
    background: #ededed;
    color: #444444 !important;
}

.wsmenu-list>li:hover>a {
    background: #ededed;
    color: #444444 !important;
}

.wstliststy06 {
    padding: 0 10px;
}

#home .wsmenu-list>li>a {
    color: #ededed !important;
}

#home .wsmenu-list>li:hover>a {
    background: #ededed;
    color: #444444 !important;
}

#home .signin {
    border-radius: 7px;
}

.htop .wsmenu-list li>.megamenu {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    border: 0;
}

.signin .megamenu {
    padding: 0 !important;
}

.signin .halfmenu {
    right: 14px !important;
}

.signin .reg {
    position: relative;
}

.signin a .seperator {
    display: inline-block !important;
    width: auto !important;
    height: 20px;
    border-right: solid 1px #249524;
    margin-right: 5px;
    position: absolute;
}

.rgs {
    margin-left: 4px;
}

.htop .signin a {
    padding: 10px 0px;
    color: #fff;
}

.signin-container {
    min-width: 250px;
    width: 100%;
}

.signin-container .top-section {
    padding: 0 15px 25px;
    margin-top: 15px;
    text-align: center;
    color: #919191;
    font-size: 13px;
    /* border-bottom: solid 1px #dbd8d8;*/
}

.signin-container .top2 {
    padding: 0 25px 15px;
    margin-top: 25px;
    display: flex;
}

.signin-container .top2 .img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}

.signin-container .top2 .name {
    margin-left: 15px;
    text-align: left;
}

.signin-container .top2 .name h3 {
    font-size: 14px;
}

.signin-container .top2 .name p {
    font-size: 12px;
    text-align: left;
    margin-bottom: 0;
}

.signin-container .top2 .name p a {
    color: #919191 !important;
    text-decoration: none;
    padding: 0 !important;
}

.signin-container .top2 .name p a:hover {
    text-decoration: none;
    background: transparent !important;
    color: #00b904 !important;
}

.signin-container .top2 .name p .s-out a {
    color: #e76303 !important;
    padding: 0 !important;
}

.signin-container .top2 .name p .s-out a:hover {
    background: none !important;
}

.signin-container .my-section {
    padding: 0 0 25px;
}

.signin-container .my-section .heading-bx {
    background: #dbd8d8;
    padding: 5px 15px;
    color: #444444;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    font-size: 14px;
}

.signin-container .my-section ul {
    margin: 0;
    padding: 0 15px;
}

.signin-container .my-section ul li {
    list-style: none;
    padding: 5px 0;
    margin: 1px 0;
}

.signin-container .my-section ul li a {
    width: 100%;
    font-size: 14px;
    color: #444444 !important;
    padding: 5px 0px !important;
}

.signin-container .my-section ul li a:hover {
    color: #00b904 !important;
    text-decoration: none;
    background: transparent;
}

.signin-container .my-section ul li:before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #444444;
    margin-right: 5px;
}

.sh .megamenu {
    /* margin-right: 9px !important; */
    right: 0 !important;
    top: 36px;
}

.stick-menu .mnu {
    display: none;
}

.btn-signin {
    padding: 5px 15px !important;
}

.btn-reg {
    color: #00b904 !important;
    padding: 5px 15px !important;
}

.btn-reg:hover {
    color: #fff;
}

.htop {
    height: 43px;
}

.htop .wsmain {
    max-width: none;
}

.htop .wsmenu {
    width: 100%;
    border-left: 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 991px) {
    .menu-container {
        width: 100%;
    }
    .logo img {
        max-width: 120px;
    }
    .signin a {
        margin: 0 !important;
        line-height: 18px;
    }
    .signin a:hover {
        background: #00b904;
    }
    .signin .navtext {
        padding: 19px 32px 19px 12px !important;
    }
    .sh .navtext {
        padding: 19px 32px 19px 12px !important;
    }
    .header-top-area.stick-menu .menu>ul>li a {
        color: #ededed;
    }
    .header-top-area.stick-menu .menu>ul>li a:hover {
        color: #444444;
    }
    .menu>ul>li:hover {
        background: #ededed;
        color: #444444;
    }
    .menu>ul>li:hover a {
        color: #444444;
    }
    .header-top-area.stick-menu .menu>ul>li a {
        color: #ededed;
    }
    .header-top-area .ban-content {
        width: 100%;
        clear: both;
    }
    .srch {
        width: 100%;
        display: inline-block;
    }
    .logo-container {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .mnu {
        width: 100% !important;
    }
    .smallogo {
        background: transparent !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        position: relative;
        padding-top: 0;
        height: 35px;
    }
    .animated-arrow span,
    .animated-arrow span::before,
    .animated-arrow span::after {
        background: #fff;
    }
    .animated-arrow {
        margin: 18px 0 0 15px;
    }
    .stick-menu .logo-container {
        width: 34%;
        display: inline-block;
        text-align: left;
    }
    .stick-menu .mnu {
        position: absolute;
        display: block;
    }
    .stick-menu .ban-content {
        width: 65%;
        display: inline-block;
    }
    .stick-menu .animated-arrow span,
    .stick-menu .animated-arrow span::before,
    .stick-menu .animated-arrow span::after {
        background: #444444;
    }
    .stick-menu .wsoffcanvasopener .animated-arrow span {
        background: transparent;
    }
    .header-top-area.stick-menu .logo {
        margin-left: 15px;
    }
    .ban-content h2 {
        padding-top: 0;
        font-size: 1.7rem;
    }
    #home .wsmenu-list>li>a {
        color: #444444 !important;
    }
    #home .signin {
        margin-top: 0;
    }
    .signin {
        padding: 0 !important;
    }
    .wstheading {
        font-family: "robotobold";
    }
    .sh .megamenu {
        top: 0;
    }
    .htop {
        position: absolute;
        border: 0;
        z-index: 9999;
    }
    .htop .animated-arrow span,
    .htop .animated-arrow span::before,
    .htop .animated-arrow span::after {
        background: #444444;
    }
    .htop .wsoffcanvasopener .animated-arrow span {
        background: transparent;
    }
    .inner-head.stick-menu .srch {
        width: 65%;
    }
    .inner-head .logo {
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .inner-head.stick-menu .logo {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 570px) {
    .header-top-area.stick-menu .ban-content {
        width: 100%;
    }
    .stick-menu .logo-container {
        width: 100%;
        text-align: center;
    }
}

footer {
    background: #fff;
    padding: 30px 0;
    text-align: center;
}

.copy {
    color: #919191;
    line-height: 30px;
}

.sicon {
    width: 100%;
    clear: both;
    text-align: center;
}

.ficn {
    width: 60px;
    display: inline-block;
}

.icon-circle .fab {
    font-size: 12px;
    color: #e84700;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #e84700;
    line-height: 45px;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.20s, background-color ease-in-out 0.05s;
}

.icon-circle .fab:hover {
    background-color: #e84700;
    color: #fff;
    border: 1px solid #e84711;
    -moz-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow: inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 5px #ffffff;
    box-shadow: inset 0px 0px 0px 5px #ffffff;
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.icon-circle i:before {
    margin-left: 0px;
    font-size: 25px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .icon-circle .fab {
        font-size: 10px;
        color: #e84700;
        margin: 0 auto;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #e84700;
        line-height: 35px;
        cursor: pointer;
        -webkit-transition: all ease-in-out 0.35s;
        -moz-transition: all ease-in-out 0.35s;
        -o-transition: all ease-in-out 0.35s;
        -ms-transition: all ease-in-out 0.35s;
        transition: all ease-in-out 0.20s, background-color ease-in-out 0.05s;
    }
    .icon-circle .fab:hover {
        background-color: #e84700;
        color: #fff;
        border: 1px solid #e84711;
        -moz-box-shadow: inset 0px 0px 0px 5px #ffffff;
        -o-box-shadow: inset 0px 0px 0px 5px #ffffff;
        -ms-box-shadow: inset 0px 0px 0px 5px #ffffff;
        -webkit-box-shadow: inset 0px 0px 0px 5px #ffffff;
        box-shadow: inset 0px 0px 0px 5px #ffffff;
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    .icon-circle i:before {
        margin-left: 0px;
        font-size: 20px;
    }
}

.ifacebook .fab {
    color: #919191;
    border: 2px solid #919191;
}

.ifacebook .fab:hover {
    background-color: #3B5998;
    color: #fff;
    border: 1px solid #3B5998;
}

.itwittter .fab {
    color: #919191;
    border: 2px solid #919191;
}

.itwittter .fab:hover {
    background-color: #33ccff;
    color: #fff;
    border: 1px solid #33ccff;
}

.igoogle .fab {
    color: #BD3518;
    border: 2px solid #BD3518;
}

.igoogle .fab:hover {
    background-color: #BD3518;
    color: #fff;
    border: 1px solid #BD3518;
}

.iLinkedin .fab {
    color: #919191;
    border: 2px solid #919191;
}

.iLinkedin .fab:hover {
    background-color: #007bb7;
    color: #fff;
    border: 1px solid #007bb7;
}

.iInsta .fab {
    color: #919191;
    border: 2px solid #919191;
}

.iInsta .fab:hover {
    color: #fff;
    border: 1px solid #f09433;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.prod-container {
    width: 100%;
    height: auto;
}

.prod-container ul {
    margin: 0;
    padding: 0;
}

.prod-container ul li {
    display: inline-block;
    /* max-width: 275px; */
    /*  margin: 10px;  */
    width: 19.8%;
    vertical-align: top;
}

.prod-box {
    background: #fff;
    padding: 10px;
    margin: 10px;
    min-height: 339px;
}

.prod-box .prod-img {
    /*min-height: 240px;*/
    min-height: 180px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}

.prod-box .prod-img img {
    width: auto;
    height: auto;
    /*max-height: 240px;*/
    max-height: 180px;
}

.prod-box .prod-detail {
    margin: 15px 0 10px;
    text-align: center;
    color: #919191;
}

.prod-box .prod-detail p {
    line-height: 14px;
}

.prod-box .prod-detail .moq {
    /* font-weight: 700; */
    color: #919191;
    font-size: 14px;
}


/*.txt-height {
  transform: scale(1, 1.1);
}*/

.recent-box {
    background: #fff;
    /*min-width: 153px; */
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.recent-box img {
    max-width: 100%;
    max-height: 120px;
    height: auto;
    width: auto;
}

.strike-price {
    color: #c5c5c5;
    position: relative;
    white-space: nowrap;
}

.strike-price:after {
    border-top: 1px solid #c5c5c5;
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    left: 0;
}

.float-right {
    float: right !important;
}

.terms {
    font-size: 12px;
    color: #919191;
    text-align: center;
}

.border-left {
    border-left: solid 1px #c5c5c5;
}

.border-right {
    border-right: solid 1px #c5c5c5;
}

.ajax_loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/loading.gif") 50% 50% no-repeat #f9f9f9;
}

.white-bg {
    background: #fff !important;
}

@media only screen and (max-width: 3000px) and (min-width: 1400px) {
    .recent-box img {
        max-height: 140px;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen - 1145px
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1145px) {
    .prod-container ul li {
        display: inline-block;
        max-width: none;
        /*  margin: 10px;  */
        width: 24.8%;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's - 959px
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    .prod-container ul li {
        display: inline-block;
        max-width: none;
        /*  margin: 10px;  */
        width: 49%;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's - 580px
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 580px) {
    .prod-container ul li {
        display: block;
        max-width: none;
        /*  margin: 10px;  */
        width: 100%;
    }
}


/* pagination */

#pagination_link {
    width: 100%;
    text-align: center !important;
    margin-top: 15px;
}

.pagination {
    display: block;
    text-align: right;
}

.pagination li {
    display: inline-block;
}

.pagination li a {
    padding: 5px 10px;
    background: #fff;
    color: #919191;
    margin: 2px;
    border-radius: 5px;
    border: solid 1px #fff;
}

.pagination li a:hover {
    text-decoration: none;
    border: solid 1px #00b904;
}

.pagination .active a {
    background: #00b904;
    color: #fff;
    border: solid 1px #00b904;
}

.pagination .active a:hover {
    color: #fff;
}

.searchbar .srch-btn {
    background: #00b904;
    color: #ededed;
    -webkit-appearance: none;
    border: none;
    width: auto;
    height: auto;
    vertical-align: top;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.searchbar .srch-btn i {
    padding: 14px 15px;
    font-size: 23px;
}

.searchbar .srch-btn:hover {
    background: #00b904;
    color: #ededed;
    -webkit-appearance: none;
    border: none;
}

@media only screen and (max-width: 3000px) and (min-width: 1370px) {
    .searchbar .srch-btn i {
        padding: 14px 15px;
        font-size: 22px;
    }
}

.filter-btn {
    width: auto;
    height: auto;
    font-size: 15px;
    background: linear-gradient(#eeeeee, #cfcfcf);
    background: -moz-linear-gradient(#eeeeee, #cfcfcf);
    background: -o-linear-gradient(#eeeeee, #cfcfcf);
    background: -webkit-linear-gradient(#eeeeee, #cfcfcf);
    padding: 20px;
    border: none;
    margin: 0;
    color: #444444;
    line-height: 22px;
    border-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 5px;
}

.filter-btn:focus {
    box-shadow: none;
}

.filter-btn:hover {
    color: #444444 !important;
}

.searchbar .input-group-btn {
    vertical-align: top;
}

.order-now {
    background: linear-gradient(#066908, #00b904);
    background: -moz-linear-gradient(#066908, #00b904);
    background: -o-linear-gradient(#066908, #00b904);
    background: -webkit-linear-gradient(#066908, #00b904);
    margin-top: 10px;
}

.show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.show>.btn-outline-secondary.dropdown-toggle {
    color: #444444;
}

.btn-contact {
    background: #ededed;
    color: #444444;
    font-size: 12px;
}

.btn-contact:hover {
    background: #00b904;
    color: #fff !important;
}

@media only screen and (max-width: 1370px) {
    .filter-btn {
        font-size: 16px;
        padding: 19px 19px 20px;
        line-height: 23px;
    }
}

.btn-default {
    background: #ededed;
    color: #444444;
}

.btn-indigo {
    color: #fff;
    background: #00b904;
}

.btn-pad {
    padding: 7px 30px;
}

.btn-green {
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase;
    background: #00b904;
    border: 0;
}

.btn-signin {
    width: 100%;
    padding: 5px 15px;
    text-align: center;
    font-size: 14px;
    border: solid 1px #00b904 !important;
}

.btn-reg {
    width: 100%;
    padding: 5px 15px;
    text-align: center;
    background: none;
    border: solid 1px #00b904 !important;
    color: #00b904;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-login {
    padding: 10px 40px;
    font-family: "robotobold";
    background: #00b904;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


/*Slider Area*/

.ban-content {
    text-align: center;
    margin-top: 6%;
}

.slide ul {
    margin-top: -10px;
}

.slide li:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}


/*  Search bar Homepage */

.searchbar {
    max-width: 800px;
    margin: 15px auto;
}

.searchbar input[type="text"] {
    padding: 30px 20px;
    font-size: 16px;
    border: solid 1px #fff;
    border-radius: 0;
}

.gstrip {
    background: #ededed;
    /*  padding: 10px 0; */
    position: relative;
    top: -10px;
}

.gstrip ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0;
}

.gstrip ul li {
    display: inline-block;
    max-width: 350px;
    padding: 12px 15px;
    border-right: solid 1px #cbcbcb;
    width: 33%;
    cursor: pointer;
    font-size: 12px;
}

.gstrip ul li .icn {
    display: inline-block;
    max-width: 60px;
    vertical-align: top;
    margin-right: 10px;
}

.gstrip ul li .icn img {
    width: 100%;
    max-height: 47px;
}

.gstrip ul li .icn-txt {
    display: inline-block;
    text-align: left;
    width: auto;
    max-width: 220px;
}

.gstrip ul li .icn-txt h2 {
    font-family: "robotobold";
    font-size: 20px;
    margin: 0;
    color: #444444;
}

.gstrip ul li .icn-txt p {
    line-height: 16px;
    color: #919191;
    margin-bottom: 0;
}

.gstrip ul li .icn-txt p a {
    color: #444444;
    text-decoration: none;
}

.gstrip ul li:last-child {
    border: none;
}

.gstrip ul li:hover {
    background: #cfcfcf;
    /*background: linear-gradient(to right, #cfcfcf, #eee, #cfcfcf);
  background: -moz-linear-gradient(to right, #cfcfcf, #eee, #cfcfcf);
  background: -o-linear-gradient(to right, #cfcfcf, #eee, #cfcfcf);
  background: -webkit-linear-gradient(to right, #cfcfcf, #eee, #cfcfcf);*/
}

.gstrip h2:hover {
    text-decoration: none;
}

.lmore {
    color: #fffc00 !important;
    font-style: italic;
}

.lmore:hover {
    text-decoration: none;
}

.pgwSlider .ps-caption {
    padding: 20px 12px;
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), black);
    background: -o-linear-gradient(rgba(0, 0, 0, 0), black);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), black);
}

.ps-caption a {
    font-size: 18px;
    font-family: "robotoregular";
    font-weight: 400;
}

.ps-caption img {
    min-height: 415px !important;
}

.shop-container {
    padding: 3px 0 15px;
    background: #fff;
}


/* latest product */

.shop-container .content-slider {
    text-align: center;
}

.shop-container .content-slider li {
    text-align: center;
}

.shop-container .content-slider h3 {
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
    font-weight: 700;
}

.prod-bx {
    /*background-color: #f2f2f2;
  border: solid 1px #ccc;*/
    max-width: 300px;
}

.prod-bx img {
    width: 100%;
}

.detail-bx {
    padding: 24px 10px 20px;
}

.detail-bx p {
    line-height: 14px;
    color: #919191;
}

.hotsell {
    background: #ededed;
    padding: 10px 0 0;
    margin-top: 0px;
}

.hotsell .prod-container li {
    display: inline-block;
    max-width: 278px;
    /*  margin: 10px;  */
}

.hotsell .prod-box {
    background: #fff;
    padding: 10px;
    margin: 0 10px;
}

.sub-section {
    margin: 30px 0 10px;
    padding: 0 10px;
    display: flex;
}


/* stock prod */

.stock-prod-container {
    background: #fff;
    padding: 15px;
    flex-basis: auto;
    height: 100%;
}

.stock-prod-container h2 {
    margin: 10px 0 20px;
}

.stock-prod-container .stock-pic {
    /*max-width: 197px;*/
    width: 45%;
    height: auto;
    overflow: hidden;
    margin-right: 15px;
    display: inline-block;
}

.stock-prod-container .stock-pic img {
    width: 100%;
    height: auto;
    min-height: 176px;
}

.stock-prod-container .stock-details {
    /*max-width: 170px; */
    width: 50%;
    display: inline-block;
    vertical-align: top;
    color: #919191;
}

.stock-prod-container .stock-details p {
    line-height: 14px;
}

.advert {
    max-height: 287px;
    overflow: hidden;
}

.advert img {
    width: 100%;
    height: auto;
    max-height: 284px;
}

.advert .lSSlideOuter .lSPager.lSpg {
    bottom: 10px;
    position: absolute;
    left: 45%;
}

.advert .lSSlideOuter .lSPager.lSpg>li a {
    border: solid 1px;
    height: 10px;
    width: 10px;
    background: #ededed;
}

.advert .lSSlideOuter .lSPager.lSpg>li:hover a,
.advert .lSSlideOuter .lSPager.lSpg>li.active a {
    background: #00b904;
}

.advert a:hover,
.advert a:focus {
    color: #00b904;
}

.recommended {
    background: #ededed;
    padding: 0 0 20px;
    top: -10px;
    position: relative;
}

.slide {
    min-height: 405px;
}

.shops-total {
    height: 100%;
    display: flex;
    padding: 0 10px;
    max-height: 480px;
}

.latest-container {
    height: 100%;
    background: #ededed;
    width: 100%;
    flex-basis: auto;
    border: solid 1px #ccc;
}

.shop-box {
    flex-basis: auto;
    height: 100%;
    width: 100%;
}

.stock-prod-container .lSSlideOuter .lightSlider>*,
.lSSlideOuter .lSGallery li {
    float: none;
    display: inline-block;
}

.recommended .prod-container ul li {
    width: 16.4%;
}

.recommended .prod-box {
    margin: 5px;
    min-height: 316px;
}

.recommended .prod-box .prod-img img {
    max-height: 150px;
}

.recommended .prod-title-s {
    font-size: 14px;
}

.recent {
    background: #ededed;
    padding-bottom: 10px;
    top: -20px;
    position: relative;
}

.tp-adjustment {
    top: -20px;
    position: relative;
    margin-bottom: -20px;
}


/* banner */

#ninja-slider {
    width: 81.3%;
    height: 100%;
}

#ninja-slider .slider-inner {
    height: 100%;
}

#ninja-slider ul {
    height: 100% !important;
}

#ninja-slider .ns-img {
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

#ninja-slider li {
    max-height: 480px;
}

#thumbnail-slider {
    position: absolute;
    right: 15px;
    top: 0;
    margin: 0;
    z-index: 9;
    height: 100%;
}

.s-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    padding: 12px 10px;
}

#thumbnail-slider ul li.active {
    border: solid 3px #00b904;
}

#thumbnail-slider .thumb {
    -webkit-background-size: cover;
    background-size: cover;
}

#ninja-slider.fullscreen .slider-inner {
    max-width: 1000px;
    max-height: 600px;
}

@media only screen and (min-width: 1430px) {
    #ninja-slider {
        width: 85.5%;
        height: 100%;
    }
}

@media only screen and (max-width: 1370px) {
    .ban-content {
        margin-top: 5%;
    }
    .slide {
        min-height: 335px;
    }
    .header-top-area {
        padding: 25px 0 15px;
    }
}

@media only screen and (max-width: 1300px) {
    .recommended .prod-container ul li {
        width: 24.7%;
    }
}

@media only screen and (max-width: 1045px) {
    .gstrip ul li {
        max-width: 300px;
    }
    .gstrip ul li .icn-txt {
        text-align: center;
    }
    .gstrip ul li .icn img {
        max-width: 50px;
    }
    .stock-prod-container .stock-pic {
        width: 40%;
    }
    .prod-container ul {
        text-align: center;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    .slide {
        min-height: 505px;
    }
    .ban-content {
        margin-top: 80px;
    }
    .gstrip {
        /*background: $green; */
        /*  padding: 10px 0; */
        position: relative;
        top: -10px;
    }
    .gstrip ul {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .gstrip ul li {
        display: inline-block;
        max-width: 150px;
        padding: 10px 15px;
        border-right: solid 1px #cbcbcb;
        vertical-align: top;
        text-align: center;
    }
    .gstrip ul li .icn {
        display: block;
        max-width: none;
        vertical-align: top;
        margin-right: 10px;
        min-height: 47px;
        text-align: center;
        width: 100%;
    }
    .gstrip ul li .icn-txt {
        display: block;
        color: #ededed;
        text-align: center;
        width: auto;
        max-width: 220px;
    }
    .gstrip ul li .icn-txt h2 {
        font-family: "robotobold";
        font-size: 1rem;
        margin: 0;
        color: #444444;
    }
    .gstrip ul li .icn-txt p {
        display: none;
    }
    .gstrip ul li .icn-txt p a {
        color: #919191;
        text-decoration: none;
    }
    .icn img {
        max-width: 40px;
    }
    .prod-bx {
        /*background-color: #f2f2f2;
    border: solid 1px #ccc;*/
        max-width: none;
    }
    .hotsell .prod-container li {
        display: inline-block;
        max-width: none;
        /*  margin: 10px;  */
    }
    .stock-prod-container {
        margin-bottom: 20px;
        flex-basis: 0;
    }
    .shop-container .content-slider {
        margin-bottom: 20px;
    }
    .latest-container {
        width: 100%;
        flex-basis: 0;
        border: solid 1px #ccc;
        margin-bottom: 20px;
    }
    /*.shop-box {
    flex-basis: auto;
    height: 100%;
    width: 100%;
  } */
    .stock-prod-container .lSSlideOuter .lightSlider>*,
    .lSSlideOuter .lSGallery li {
        float: left;
        /* display: inline-block;*/
    }
    .sub-section {
        display: block;
    }
    .stock-pic {
        max-height: 213px;
    }
    .recommended .prod-container ul li {
        width: 49%;
    }
}

@media only screen and (max-width: 580px) {
    .recommended .prod-container ul li {
        width: 100%;
    }
    .header-top-area.stick-menu .searchbar .srch-btn i {
        padding: 2px;
    }
    .srch-btn {
        padding: .375rem .55rem;
    }
    .filter-btn {
        font-size: 14px;
        padding: 10px 6px 10px;
    }
    .searchbar input[type="text"] {
        padding: 20.5px 10px;
        font-size: 14px;
        max-width: 170px;
    }
    .searchbar .srch-btn i {
        padding: 5.5px 8px;
        font-size: 20px;
    }
    .slider-inner ul {
        margin-bottom: 0;
    }
    .shop-box {
        width: auto;
    }
    #thumbnail-slider {
        display: none;
    }
    .searchbar {
        width: 290px;
        margin: 0 auto !important;
    }
    .header-top-area.stick-menu .searchbar {
        max-width: 287px;
        margin: 2px auto 0 !important;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's - 480px
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 480px) {
    .ban-content {
        margin-top: 35%;
    }
    /* stock prod */
    .stock-prod-container {
        background: #fff;
        padding: 15px;
        margin-bottom: 20px;
    }
    .stock-prod-container h2 {
        margin: 10px 0 20px;
    }
    .stock-prod-container .stock-pic {
        /*max-width: 197px;*/
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-right: 15px;
        display: block;
    }
    .stock-prod-container .stock-pic img {
        width: 100%;
        height: auto;
    }
    .stock-prod-container .stock-details {
        /*max-width: 170px; */
        width: 100%;
        display: block;
        vertical-align: top;
        color: #919191;
        padding: 20px 0;
        text-align: center;
    }
    .stock-prod-container .stock-details p {
        line-height: 14px;
    }
    .gstrip {
        background: #ededed;
        /*  padding: 10px 0; */
        position: relative;
        top: -10px;
    }
    .gstrip ul {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .gstrip ul li {
        display: inline-block;
        max-width: 100px;
        padding: 10px 15px;
        border-right: solid 1px #cbcbcb;
        vertical-align: top;
        text-align: center;
    }
    .gstrip ul li .icn {
        display: block;
        max-width: none;
        vertical-align: top;
        margin-right: 10px;
        min-height: 40px;
        text-align: center;
        width: 100%;
    }
    .gstrip ul li .icn img {
        max-width: 40px;
    }
    .gstrip ul li .icn-txt {
        display: block;
        color: #ededed;
        text-align: center;
        width: auto;
        max-width: 220px;
    }
    .gstrip ul li .icn-txt h2 {
        font-family: "robotobold";
        font-size: 1rem;
        margin: 0;
        color: #444444;
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Xtra large screens
––––––––––––––––––––––––––––––––––––––––––––––––––*/

@media only screen and (max-width: 3000px) and (min-width: 1350px) {
    .prod-bx {
        /*background-color: #f2f2f2;
    border: solid 1px #ccc;*/
        max-width: none;
        height: 100%;
    }
    .shops-cont {
        max-height: 430px;
        height: 100%;
    }
    .stock-pic img {
        max-height: 194px;
    }
    .hotsell .prod-container li {
        max-width: none;
    }
}

@media only screen and (max-width: 3000px) and (min-width: 1567px) {
    .recommended .prod-container ul li {
        width: 16.4%;
    }
}

@media only screen and (max-width: 862px) {
    .latest-container h2 {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .advert {
        margin-top: 25px;
    }
    .shops-total {
        display: block;
    }
    .dn {
        display: none !important;
    }
}


/* product listing page styles */

.total-container {
    background: #ededed;
    min-height: 200px;
    padding: 30px 0 40px;
    margin-top: 130px;
}

.main-area {
    /*width: 77%;
  margin-left: 2%;*/
    width: 100%;
    margin-left: 0;
    display: inline-block;
}

.main-area .nav-tabs .nav-item.show .nav-link,
.main-area .nav-tabs .nav-link.active {
    background: #00b904;
    border: 1px solid #00b904;
    color: #fff;
}

.main-area .nav-tabs>li>a {
    background: #d9d9d9;
    color: #444444;
    font-family: "robotobold";
    border-radius: 0;
}

.main-area .nav>li>a {
    padding: 10px 40px;
}

.main-area .nav-tabs {
    border-bottom: 2px solid #00b904;
    padding-bottom: 1px;
}

.search-result {
    padding: 15px 0 12px;
    border-bottom: dashed 1px #919191;
    margin: 0 15px;
    width: 100%;
    display: flex;
}

.search-result .search-no p {
    /* font-weight: bold; */
    color: #393939;
    margin: 5px 0 0;
}

.search-result #btnContainer {
    text-align: right;
}

.search-result #btnContainer button {
    color: #919191;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 14px;
}

.filter-container {
    padding: 12px 0;
    width: 100%;
    display: flex;
}

.filter-container label {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

.filter-container .form-control {
    width: auto;
    display: inline-block;
    font-size: 12px;
    height: auto;
    padding: 4px 6px;
}

.filter-container .sort {
    text-align: right;
}

.prodct-container {
    width: 100%;
    /* Create two equal columns that floats next to each other */
    /* Clear floats after the columns */
}

.prodct-container .single-prod {
    float: left;
    /* width: 25%; */
    width: 16.6%;
    /*  .prod-box {
      min-height: 380px;
    } */
}

.prodct-container .single-prod .company-details {
    display: none;
}

.prodct-container .single-prod .sub-details {
    display: none;
}

.prodct-container .single-prod .prod-box .prod-detail {
    margin: 15px 0 0;
}

.prodct-container .row:after {
    content: "";
    display: table;
    clear: both;
}

.prodct-container .grid-style {
    width: 25% !important;
}

.prodct-container .list-style {
    width: 100% !important;
}

.prodct-container .list-style .prod-box {
    min-height: auto;
}

.prodct-container .list-style .prod-box .prod-img {
    width: 25% !important;
    display: inline-block;
    margin-right: 3%;
}

.prodct-container .list-style .prod-box .prod-detail {
    width: 70%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.prodct-container .list-style .details {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.prodct-container .list-style .details .prod-title-s {
    font-size: 16px;
    font-family: "robotobold";
}

.prodct-container .list-style .company-details {
    display: inline-block;
    width: 49%;
    border-left: solid 1px #ededed;
    padding-left: 15px;
}

.prodct-container .list-style .company-details span {
    color: #444444;
}

.prodct-container .list-style .company-details .year {
    font-size: 16px;
    color: #00b904;
}

.prodct-container .list-style .company-details .loc {
    line-height: 22px;
}

.prodct-container .list-style .company-details .check {
    margin-top: 15px;
}

.prodct-container .list-style .company-details .check a {
    color: #00b904;
    text-decoration: none;
}

.prodct-container .list-style .company-details .check a:hover {
    color: #e76303;
}

.prodct-container .list-style .sub-details {
    display: block;
    margin-top: 15px;
}

.prodct-container .list-style .sub-details p {
    line-height: 22px;
}

.prodct-container .list-style .sub-details span {
    color: #444444;
}

.prodct-container .list-style .chat span {
    display: inline-block;
}

.icon-details {
    display: flex;
}

.icon-details .icon {
    position: relative;
    padding-left: 25px;
    margin: 15px 0 15px 25px;
}

.icon-details .icon:before {
    width: 15px;
    position: absolute;
    top: 2px;
    left: 0;
    margin-right: 10px;
}

.icon-details .verified {
    margin: 15px 0;
}

.verified:before {
    content: url(../images/verified-icon.png);
}

.gold-plus:before {
    content: url(../images/goldplus-icon.png);
}

.gold:before {
    content: url(../images/gold-icon.png);
}

.silver:before {
    content: url(../images/silver-icon.png);
}

.contcts {
    border-top: solid 1px #ededed;
    padding-top: 10px;
}

.contcts .chat {
    font-size: 12px;
    margin-top: 5px;
}

.contcts .chat .fas {
    font-size: 18px;
}

.contcts .chat span {
    display: none;
}

.chat-supplier span {
    display: inline-block !important;
    color: #00b904 !important;
}

.chat-supplier span:hover {
    color: #e76303 !important;
}


/* side section */

.side-section {
    width: 20%;
    display: inline-block;
    background: #fff;
    max-width: 300px;
    vertical-align: top;
}

.side-section .card {
    border-right: 0;
    border-left: 0;
}

.side-section .card .card-header {
    background: #fff;
    border-bottom: none;
}

.side-section .card .card-header a:hover {
    text-decoration: none;
}

.side-section .card .card-header h5 {
    font-family: "robotobold";
    text-transform: uppercase;
    color: #444444;
    font-size: 14px;
    padding: 8px 0;
}

.side-section .card .card-body {
    color: #919191;
    padding: .5rem 1.25rem 1.25rem;
}

.side-section .related {
    margin: 20px 0 10px;
}

.side-section .related .head {
    padding: .75rem 1.25rem;
}

.side-section .related .head h5 {
    font-family: "robotobold";
    text-transform: uppercase;
    color: #444444;
    font-size: 14px;
}

.side-section .related .rel-body li {
    list-style: none;
    line-height: 26px;
}

.side-section .related .rel-body li a {
    color: #919191;
}

.side-section .related .rel-body li a:hover {
    color: #00b904;
    text-decoration: none;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

.filter-cat {
    border-bottom: dashed 1px #919191;
    padding: 15px 0;
    display: flex;
}

.filter-cat h3 {
    font-size: 14px;
    color: #444444;
    font-family: "robotobold";
    width: 150px;
    margin-top: 10px;
}

.filter-cat .s-filter {
    display: inline-block;
    margin: 0 15px;
    width: auto;
    color: #919191;
}

.filter-cat .s-cont {
    /*border-bottom: solid 1px $mid-grey; */
    position: relative;
    width: 220px;
    overflow: hidden;
}

.filter-cat .s-cont:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #919191;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
}

.filter-cat .s-cont select {
    background: none;
    border: 0;
    position: relative;
    width: 240px;
    /*  -moz-appearance: none;
     text-indent: 0.01px;
     text-overflow: '';*/
    font-size: 14px;
}

.filter-cat .s-cont select:focus {
    border: 0;
    outline: none !important;
}

@media only screen and (max-width: 3000px) and (min-width: 1350px) {
    /* .main-area {
    width: 78%;
    margin-left: 1.5%;
  } */
    .side-section {
        max-width: none;
    }
}

@media only screen and (max-width: 1045px) {
    /*.main-area {
      width: 77%;
    } */
}

@media only screen and (max-width: 1300px) and (min-width: 960px) {
    .prodct-container .single-prod {
        width: 24.7%;
    }
}

@media only screen and (max-width: 959px) {
    /*  .main-area {
        width: 100%;
      } */
    .side-section {
        display: none;
    }
    .prodct-container .single-prod {
        width: 50%;
    }
    .prodct-container .grid-style {
        width: 48% !important;
    }
}


/* supplier */

.supplier-container {
    width: 100%;
    /* Create two equal columns that floats next to each other */
    /* Clear floats after the columns */
}

.supplier-container .single-supplier {
    float: left;
    width: 100%;
    margin: 0px;
}

.supplier-container .row:after {
    content: "";
    display: table;
    clear: both;
}

.supplier-container .prod-box {
    min-height: auto;
    padding: 10px 30px;
}

.supplier-container .prod-box .prod-img {
    width: 45% !important;
    display: inline-block;
    margin-right: 3%;
}

.supplier-container .prod-box .prod-img ul {
    display: flex;
    padding: 0;
}

.supplier-container .prod-box .prod-img ul li {
    list-style: none;
    flex-basis: auto;
    /* max-width: 150px;*/
    width: 33%;
    margin: 2px 5px;
}

.supplier-container .prod-box .prod-img ul li a {
    text-decoration: none;
}

.supplier-container .prod-box .prod-img ul li .prod .img {
    border: solid 1px #ededed;
    padding: 5px;
    width: 100%;
    height: 110px;
    overflow: hidden;
}

.supplier-container .prod-box .prod-img ul li .prod .img img {
    width: auto;
    height: 100%;
}

.supplier-container .prod-box .prod-img ul li .prod h5 {
    font-size: 12px;
    color: #919191;
    margin-top: 5px;
}

.supplier-container .prod-box .prod-img ul li .prod h5:hover {
    color: #e76303;
    text-decoration: none;
}

.supplier-container .prod-box .prod-detail {
    width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.supplier-container .company-details {
    display: inline-block;
    width: 100%;
    border-left: solid 1px #ededed;
    padding-left: 15px;
}

.supplier-container .company-details span {
    color: #444444;
}

.supplier-container .company-details .year {
    font-size: 18px;
    color: #00b904;
    font-family: "robotobold";
}

.supplier-container .company-details .loc {
    line-height: 22px;
}

.supplier-container .company-details .verified {
    margin: 15px 0;
}

.supplier-container .company-details .verified:before {
    content: url(../images/verified-icon.png);
    margin-right: 10px;
}

.supplier-container .company-details .check {
    margin-top: 15px;
}

.supplier-container .company-details a {
    color: #00b904;
    text-decoration: none;
}

.supplier-container .company-details a:hover {
    color: #e76303;
}

.supplier-container .sub-details {
    display: block;
    margin-top: 15px;
}

.supplier-container .sub-details p {
    line-height: 22px;
}

.supplier-container .sub-details span {
    color: #444444;
}


/* formpage header */

.grey-bg {
    background: #ededed;
}

.bg-forms {
    background: #fff;
}

.form-header {
    position: relative;
    padding: 30px 0 15px;
    border-bottom: solid 1px #ededed;
    background: #ededed;
}

.form-header .logo {
    margin-top: 15px;
}

.login-section {
    text-align: right;
}

.login-txt {
    margin-bottom: 10px;
    color: #919191;
}

.login-container form {
    float: right;
    color: #ededed;
}

.login-container form .form-control {
    max-height: 30px;
    font-size: 12px;
    padding: 10px;
    margin-right: 5px;
}

.login-container form .btn-login {
    font-size: 12px;
    padding: 5px 15px;
}

.multiform-container {
    padding: 10px 0;
    margin-bottom: 10px;
}

.multiform-container .card {
    border: none;
    width: 100%;
}

.product-info {
    padding: 10px;
    border-bottom: solid 1px #ededed;
    display: flex;
    background: #ededed;
    margin: 20px 0;
}

.product-info .image {
    width: auto;
    height: 120px;
    border: solid 1px #e0e0e0;
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    background: #fff;
}

.product-info .image img {
    width: auto;
    height: 100%;
    margin: auto;
}

.product-info .detail {
    color: #919191;
    margin-top: 15px;
}

.product-info .detail span {
    color: #444444;
}

.btn-bs-file {
    position: relative;
    cursor: pointer;
}

.btn-bs-file small {
    color: #919191;
}

.btn-bs-file i {
    color: #ededed;
    background: #00b904;
    padding: 5px 10px;
    margin-right: 10px;
}

.btn-bs-file input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

.qty {
    margin: 20px 0;
}

.qty .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.qty .dropdown {
    margin-top: 29px;
}

.qty .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 !important;
    border: 1px solid #ced4da;
    height: calc(2.25rem + 2px);
}


/* style for multistep forms */

.steps-form {
    display: table;
    width: 100%;
    position: relative;
}

.steps-form .steps-row {
    display: table-row;
}

.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem;
    color: #919191;
}

.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0;
}

.setup-content h3 {
    font-size: 16px;
    font-weight: 400;
    color: #00b904;
}

.btn-sm i {
    padding: 5px 0;
}

.btn-sm i .fas {
    color: #919191;
}

.fg2 {
    width: auto !important;
}


/* styles for registration page */

.log .card {
    background: none;
    border-bottom: solid 1px #e0e0e0;
    min-height: 400px;
}

.log .form-control::placeholder {
    color: #919191;
}

.log #verify {
    max-width: 400px;
    margin: 30px auto 10px;
}

.log #info {
    max-width: 600px;
    margin: 30px auto 10px;
}

.log #info .form-group {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.log #info .usr {
    font-family: "robotobold";
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.log #info .usr span {
    font-family: "robotoregular";
}

.log #info .form-control {
    text-align: left;
}

.log #info .phne {
    display: flex;
}

.log #info .ccode {
    width: 100px;
}

.log #info .fulw {
    display: block;
    width: 100%;
    color: #919191;
}

.log #info .fulw .form-check {
    margin-left: 15px;
}

.log #info .fulw .form-check label {
    display: inline-block;
    color: #919191;
}

.log #finish {
    max-width: 600px;
    margin: 30px auto 10px;
    text-align: center;
}

.log #finish h3 {
    font-family: "robotobold";
    font-size: 24px;
}

.log label {
    width: 100%;
    text-align: center;
    color: #919191;
    display: none;
}

.log .form-control {
    text-align: center;
}

.log .btn-default {
    border: solid 1px #ccc;
}

.log .btn-indigo {
    border: solid 1px #00b904;
}

.log .steps-form .steps-row .steps-step {
    width: 33.3%;
}

.captcha img {
    margin-bottom: 5px;
}


/* styles for market place page */

.market-place {
    width: 100% !important;
}

.market-place .prod-box {
    min-height: auto;
    padding-bottom: 5px;
}

.market-place .prod-box .prod-img {
    width: 21% !important;
    display: inline-block;
    margin-right: 3%;
    padding: 0;
    text-align: left;
}

.market-place .prod-box .prod-img img {
    max-height: 200px;
}

.market-place .prod-box .prod-detail {
    width: 75%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.market-place .prod-title-s {
    font-size: 16px;
    font-family: "robotobold";
}

.market-place .company-details {
    display: inline-block;
    width: 40%;
    padding-left: 0px;
}

.market-place .company-details span {
    color: #444444;
}

.market-place .company-details .year {
    font-size: 16px;
    color: #00b904;
}

.market-place .company-details .loc {
    line-height: 22px;
}

.market-place .company-details .check {
    margin-top: 15px;
}

.market-place .company-details .check a {
    color: #00b904;
    text-decoration: none;
}

.market-place .company-details .check a:hover {
    color: #e76303;
}

.market-place .sub-details {
    display: block;
    margin-top: 15px;
}

.market-place .sub-details p {
    line-height: 22px;
}

.market-place .sub-details span {
    color: #444444;
}

.market-place .chat span {
    display: inline-block;
}

.market-place .contcts {
    border: 0;
    padding-left: 25px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
}

.market-place .contcts p {
    line-height: 20px;
}

.market-place .contcts h5 {
    color: #444444;
    font-family: "robotobold";
    font-size: 14px;
}


/* styles for product details pages */

.detail-top {
    background: #fff;
    /*.prod-img {
    padding: 20px;
  }*/
}

.detail-top .det-img {
    width: 570px;
    float: left;
}

.detail-top .p-desc {
    width: auto;
    float: left;
    margin-left: 30px;
}

.detail-top .detail-txt {
    padding: 20px 20px 20px 0;
    color: #919191;
}

.detail-top .detail-txt .p-cont {
    margin: 25px 0;
}

.detail-top .detail-txt .p-cont span {
    font-size: 18px;
    color: #444444;
}

.detail-top .detail-txt .sub-det {
    margin: 0 0 20px;
}

.detail-top .detail-txt .sub-det span {
    color: #444444;
}

.detail-top #zoom-fig {
    padding-top: 20px;
    width: 450px;
    margin-left: 75px;
}

.detail-top .selectors {
    margin-top: 20px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 30px;
    z-index: 99;
    width: 70px;
}

.company {
    padding: 20px 20px 20px 0;
}

.company .name {
    display: flex;
}

.company .name .clogo {
    margin-right: 10px;
}

.company .name .logos {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: solid 1px #ededed;
    overflow: hidden;
    display: flex;
}

.company .name h2 {
    margin-top: 10px;
    line-height: 20px;
}

.company .detail {
    margin: 20px 0;
    color: #919191;
}

.company .detail span {
    color: #444444;
}

.company .view-all {
    position: relative;
    /*  margin-top: 100px;*/
    margin-top: 10px;
    clear: both;
}

.year {
    font-size: 18px;
    color: #00b904;
    font-family: "robotobold";
}

.detail-area {
    margin-top: 25px;
}

.detail-area .pr-dt-container {
    background: #fff;
    padding: 15px 25px;
}

.detail-area .pr-dt-container .det-bx {
    color: #919191;
    margin: 15px 0 25px;
}

.rating-container {
    /*position: absolute;
  width: 100%;
  left: 0;*/
}

.rating-container .rating-bx {
    /*background: rgba(0, 185, 4, 0.1);*/
    color: #444444;
    margin-right: 15px;
    /* padding: 10px 15px;*/
    padding: 5px 0 0;
}

.rating-container .rating-bx p {
    margin-bottom: 5px;
}

.rating-container .rating-bx .form-group {
    margin-bottom: 0px;
}

.rating-container .control-label {
    display: none;
}

.rating-container .btn-default {
    padding: 0 5px;
    background: none;
    border: 0;
}

.rating-container .btn-default .fa-star {
    color: #919191;
}

.rating-container .btn-warning {
    background: none;
    padding: 5px;
    border: 0;
}

.rating-container .btn-warning .fa-star {
    color: #00b904;
}

.rating-container .bold.rating-header {
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-top: 10px;
}

.det {
    text-align: left;
}

.det dl {
    margin-bottom: 4px;
}

.det dl dt {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.det dl dd {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.det .single-item-entry {
    width: 100%;
    display: flex;
}

.det .d-entry-item {
    color: #919191;
    font-weight: normal;
}

.det .d-entry-item-value {
    color: #444444;
}

.d1 {
    text-align: left;
}

.d1 .single-item-entry {
    width: 48% !important;
    display: inline-block;
}

.d1 dl {
    margin-bottom: 2px;
    padding: 0;
}

.d1 dt,
.d1 dd {
    float: left;
}

.d1 dt {
    width: 150px !important;
}

.related {
    background: #fff;
    padding: 15px 25px;
}

.related .rel-prod {
    margin: 0;
    padding: 0;
}

.related .rel-prod li {
    list-style: none;
    border-bottom: solid 1px #e5e5e5;
}

.related .rel-prod li:last-child {
    border-bottom: 0;
}

.related .rel-prod li .pbox {
    margin: 15px 0;
}

.related .rel-prod li .pbox .img {
    width: 100%;
    height: 190px;
    border: solid 1px #e5e5e5;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    margin: 10px 0 20px;
}

.related .rel-prod li .pbox .img img {
    width: auto;
    height: 100%;
}

.related .rel-prod li .pbox .details {
    text-align: center;
    color: #919191;
}

.related .rel-prod li .pbox .details .prod-title-s {
    height: auto !important;
}


/* image gallery in product detail page
.show{
  width: 100%;
  height: 300px;
  text-align: center;
}
#show-img {
  width: auto !important;
  height: 100% !important;
}
#big-img {
  z-index: 2;
}
.small-img{
  width: 80%;
  height: 70px;
  margin: 20px auto 0;
  position: relative;
}
.small-img .icon-left, .small-img .icon-right{
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.small-img .icon-left{
  transform: rotate(180deg)
}
.small-img .icon-right{
  right: 0;
}
.small-img .icon-left:hover, .small-img .icon-right:hover{
  opacity: .5;
}
.small-container{
  width: 310px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.small-container div{
  width: 800%;
  position: relative;
}

.small-container .show-small-img{
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}
.small-container .show-small-img:last-of-type{
  margin-right: 0;
}

*/

.MagicZoom {
    max-height: 350px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

figure.mz-figure {
    max-height: 350px;
    text-align: center;
}

.MagicZoom img,
.mz-figure img,
figure .mz-figure img {
    max-height: 350px !important;
    width: auto !important;
}

.selectors {
    margin-top: 20px;
}

.mz-thumb {
    margin-right: 5px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 2px;
}

.mz-thumb img {
    width: auto !important;
    height: 100% !important;
    border: 0;
    box-shadow: none;
    max-width: 100%;
}

.mz-thumb-selected {
    border: solid 2px #00b904 !important;
}

.company-d {
    padding: 15px;
}

.w-30 {
    width: 30% !important;
    display: inline-block;
}

.w-70 {
    width: 69.5% !important;
    display: inline-block;
}

.w-69 {
    width: 69%;
    display: inline-block;
}

.w-40 {
    width: 40% !important;
    display: inline-block;
}

.w-60 {
    width: 59% !important;
    display: inline-block;
}

.w-49 {
    width: 49.5% !important;
    display: inline-block;
}


/*.mz-thumb-selected::after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  margin-top: 15px;
  margin-left: 9px;
  border: solid 5px transparent;
  border-left: solid 5px $green;
}
*/

.detail .verified {
    margin: 0;
}

.loc {
    color: #919191;
    margin: 0;
    padding-left: 0;
}

.loc li {
    list-style: none;
    width: 49.5%;
    display: inline-block;
}

.loc span {
    color: #444444;
}

.c-bx {
    display: flex;
}

.c-bx .yr p {
    margin-bottom: 0;
}

.chat {
    border: solid 2px #00b904;
    border-radius: 5px;
    padding: 10px 25px !important;
    text-transform: uppercase;
}

.chat:hover {
    border: solid 2px #e76303;
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .detail-top .selectors {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .detail-top #zoom-fig {
        margin-left: 15px;
    }
    .detail-top .det-img {
        width: 470px;
    }
}

@media only screen and (max-width: 767px) {
    .detail-top .det-img {
        width: 100%;
        display: block;
    }
    .detail-top .p-desc {
        width: 100%;
        display: block;
        margin-left: 0;
        padding: 0 15px;
        border-top: solid 5px #ededed;
    }
    .detail-top .d-flex {
        display: block !important;
    }
    #zoom-fig .selectors a[data-zoom-id],
    #zoom-fig .selectors .mz-thumb,
    #zoom-fig .selectors .mz-thumb:focus {
        display: inline-block !important;
    }
    #zoom-fig .selectors {
        height: 60px !important;
        text-align: center;
    }
    .detail-top #zoom-fig {
        margin: auto;
    }
    .detail-top .detail-txt {
        padding: 10px 20px 20px 0;
    }
}


/* styles for supplier page */

.no-bg {
    position: relative;
}

.no-sticky {
    position: relative !important;
    background: #ededed;
    padding: 10px 0;
}

.no-sticky .logo-container {
    width: 25%;
}

.t-cont {
    display: flex;
}

.t-cont .menu-container {
    width: 38%;
}

.t-cont .menu-container .signin {
    background: none;
}

.t-cont .menu-container .signin a {
    color: #919191 !important;
}

.t-cont .menu-container .signin:hover {
    background: none !important;
}

.t-cont .menu-container .signin .halfmenu {
    right: 5% !important;
}

.t-cont .menu-container .wsmenu-list>li>a:hover {
    background: none !important;
    color: #00b904 !important;
}

.t-cont .menu-container .wsmenu-list>li:hover>a {
    background: none !important;
    color: #00b904 !important;
}

.t-cont .searchbar {
    width: 60%;
}

.t-cont .searchbar .filter-btn {
    padding: 5px 15px !important;
}

.t-cont .searchbar input[type="text"] {
    padding: 4px 20px;
    line-height: 18px;
    font-size: 14px;
    height: 33px;
}

.t-cont .searchbar .srch-btn {
    padding: 5px 6px 4px;
}

.t-cont .searchbar .srch-btn i {
    padding: 0 10px;
    font-size: 18px;
}

.c-page {
    margin: 15px 0;
    width: 100%;
    height: auto;
}

.c-page .c-header {
    clear: both;
}

.c-page .c-header .c-logo {
    text-align: center;
    padding: 10px 0;
    height: 120px;
    overflow: hidden;
}

.c-page .c-header .c-logo img {
    width: auto;
    height: 100%;
}

.c-menu {
    background: #f8f9fa;
    margin: 0;
    /* search bar */
}

.c-menu .navbar-nav li:hover .dropdown-menu {
    display: block;
}

.c-menu .navbar {
    width: 100%;
    padding: 0;
}

.c-menu .navbar-nav {
    width: auto;
    margin: auto;
    text-transform: uppercase;
}

.c-menu .navbar-nav li {
    border-right: 1px solid #dedede;
}

.c-menu .navbar-nav li:last-child {
    border: 0;
}

.c-menu .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 2rem;
    color: #444444;
}

.c-menu .navbar-expand-lg .navbar-nav .nav-link:hover {
    background: #919191;
    color: #fff;
}

.c-menu .active {
    background: #919191;
    color: #fff !important;
}

.c-menu .navbar-right {
    margin-left: 20px;
}

.c-menu .nav-item.dropdown:hover {
    background: #919191;
    color: #fff !important;
}

.c-menu .nav-item.dropdown:hover a {
    color: #fff !important;
}

.c-menu .dropdown-menu {
    background: #919191;
    color: #444444;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    margin-top: 0;
}

.c-menu .dropdown-menu .dropdown-item {
    color: #919191;
}

.c-menu .dropdown-menu .dropdown-item:hover {
    background: #444444;
    color: #fff;
}

.c-menu input {
    outline: none;
}

.c-menu input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

.c-menu input::-webkit-search-decoration,
.c-menu input::-webkit-search-cancel-button {
    display: none;
}

.c-menu input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.c-menu input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.c-menu input:-moz-placeholder {
    color: #999;
}

.c-menu input::-webkit-input-placeholder {
    color: #999;
}

.c-menu #search-bar {
    margin-top: 10px;
}

.c-menu #search-bar input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

.c-menu #search-bar input[type=search]:hover {
    background-color: #fff;
}

.c-menu #search-bar input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

.c-menu #search-bar input:-moz-placeholder {
    color: transparent;
}

.c-menu #search-bar input::-webkit-input-placeholder {
    color: transparent;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.c-area {
    border-bottom: solid 1px #dee2e6;
}

.c-area .container {
    max-width: 1280px !important;
    margin: auto;
}

.c-area .company {
    padding: 20px 0 20px 20px;
}

.c-area .company .year,
.c-area .company .loc,
.c-area .company .icon-details,
.c-area .company .c-person {
    padding-left: 15px;
}

.c-area .company .rating-container {
    position: relative;
}

.c-area .company .rating-container .rating-bx {
    margin-right: 0;
}

.c-area .company .c-person {
    margin-top: 25px;
}

.c-area .cont-area {
    color: #919191;
    margin-top: 35px;
    line-height: 24px;
}

.s-home {
    padding-top: 2rem;
    background: #ededed;
}

.s-about {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.s-about .cont-area {
    margin-right: 30px;
    color: #444444;
    line-height: 24px;
}

.s-prod {
    width: 69.5%;
    display: inline-block;
    vertical-align: top;
}

.s-prod .prod-container ul li {
    width: 24.5%;
}

#catgory .prod-box {
    min-height: 260px;
}

.s-abt {
    max-width: 1000px;
    margin: auto;
    line-height: 24px;
    color: #919191;
}

.cta {
    background: url("../images/banners/cta-img.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    min-height: 150px;
    position: relative;
}

.cta:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
}

.img-36 {
    width: 250px;
    margin: auto;
    position: relative;
}

.buble {
    color: #fff;
    background: #d10606;
    padding: 5px 12px;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: -10px;
    border-radius: 5px;
    letter-spacing: 1.1px;
}

.qd ul {
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

.qd ul li {
    display: inline-block;
    list-style: none;
    width: 33.1%;
    padding-right: 15px;
}

.qd ul li .qdc {
    display: flex;
    margin: 20px 0;
    text-align: left !important;
}

.qd ul li .qdc .qd-img {
    width: 61px;
    margin-right: 10px;
}

.qd ul li .qdc .qd-desc {
    color: #444444;
    font-weight: bold;
}

.qd ul li .qdc .qd-desc span {
    display: block;
    font-weight: normal;
}

.qd ul li .qdc .qd-desc span .fa-star {
    color: #00b904;
    margin-right: 5px;
}

.wsmenu {
    height: auto;
}

.v360 {
    background: #00b904;
    color: #fff;
}

.st-actionContainer {
    position: fixed;
    right: 0;
    bottom: 30%;
}

.st-panel img {
    max-width: 180px;
    max-height: 180px;
}

.st-btn-container {
    border-radius: 0;
    width: 50px;
    height: 50px;
}

.st-panel {
    background: #fff;
    color: #444444;
    padding: 10px 5px;
}

.st-button-main {
    line-height: 50px;
}

@media only screen and (max-width: 991px) {
    .no-sticky .logo-container {
        width: 100%;
    }
    .t-cont .searchbar {
        width: 100%;
        text-align: center;
    }
    .t-cont .menu-container {
        position: absolute;
    }
    .t-cont .menu-container .animated-arrow span,
    .t-cont .menu-container .animated-arrow span::before,
    .t-cont .menu-container .animated-arrow span::after {
        background: #444444;
    }
    .t-cont .menu-container .wsoffcanvasopener .animated-arrow span {
        background: transparent;
    }
}

@media only screen and (max-width: 580px) {
    .header-top-area .no-sticky .searchbar {
        max-width: 287px;
        margin: 2px auto 0 !important;
    }
    .inner-head .searchbar .srch-btn i {
        padding: 4px 3.5px;
    }
    .inner-head .filter-btn {
        font-size: 14px;
        padding: 9px 6px 8px;
    }
    .t-cont .searchbar .filter-btn {
        padding: 5px 12px;
    }
    .t-cont .searchbar .srch-btn {
        padding: 3px 8px;
    }
}


/* supplier prod page */

.sup-prod {
    position: relative;
    width: 100%;
    top: -10px;
    min-height: 450px;
}


/* supplier contact page */

.w-750 {
    max-width: 750px;
    margin: auto;
}

.btns-bx {
    width: 341px;
    margin: 10px auto;
}


/* styles for login page */

#login-bg {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/banners/login-banner.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: 0;
}

#login-bg:before {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100%;
}

.login-wrapper {
    position: relative;
}

.login-wrapper .container {
    max-width: 1280px !important;
}

.l-header {
    padding: 15px 0;
    margin-top: 3%;
}

.l-welcome {
    margin-top: 10%;
    color: #ededed;
}

.l-welcome h1 {
    font-size: 4rem;
    font-family: "robotobold";
    color: #fff;
    margin-bottom: 0;
}

.l-welcome h4 {
    font-size: 2rem;
    max-width: 400px;
    color: #c9c9c9;
}

.l-container {
    background: #fff;
    top: 0;
    position: absolute;
    z-index: 999;
    width: 30%;
    min-width: 400px;
    right: 0;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    padding: 15px 25px;
}

.l-container .card {
    width: 85%;
    border: 0;
}

.l-container .card h2 {
    font-family: 'robotolight';
    font-size: 2.5rem;
}

.l-container .card .f-pwd {
    font-size: 2.3rem;
}

.l-container .card .form-container {
    margin-top: 20px;
}

.l-container .card .form-container .form-control {
    height: auto;
    padding: .75rem;
    border: solid 1px #ededed;
    font-size: 14px;
}

.l-container .card .form-container .new-u {
    display: inline-block;
    margin-left: 20px;
    color: #919191;
}


/* RFQ styles */

.wrapper2 {
    max-width: 1200px;
    margin: auto;
}

.form-container {
    width: 100%;
    padding-right: 20px;
}

.form-container .filter-cat {
    padding: 0;
}

.form-container .filter-cat .s-filter {
    margin: 0 25px 0 0;
}

.form-container .filter-cat .s-filter .form-control {
    padding-left: 0;
    height: auto !important;
}

.form-container .filter-cat .s-cont {
    width: 180px;
}

.form-container .filter-cat .s-cont select {
    width: 200px;
    padding: 0;
}

.form-container .form-group {
    margin: 25px 0;
}

.form-container label {
    font-family: "robotobold";
}

.form-container .form-control {
    font-size: 14px;
}

.form-container .input-group-prepend .dropdown-menu,
.form-container .input-group-prepend .dropdown-toggle {
    font-size: 14px;
}

.form-container .input-group-prepend .dropdown-item:focus,
.form-container .input-group-prepend .dropdown-item:hover {
    color: #fff;
    background: #919191;
    border: solid 1px #6c757d;
}

.form-container .input-group-prepend .btn-outline-secondary {
    border: solid 1px #ced4da;
    border-left: 0;
}

.form-container .input-group-prepend .btn-outline-secondary:hover {
    border: solid 1px #6c757d;
    border-left: 0;
}

.form-container .input-group-prepend .dropdown-menu.show {
    background: #ededed;
}

.form-container .input-group-prepend .dropdown-menu.show .dropdown-item {
    color: #444444;
}

.form-container .input-group-prepend .dropdown-menu.show .dropdown-item:hover {
    background: #c3c4c5;
    border: 0;
}

.form-container .show>.btn-outline-secondary.dropdown-toggle {
    color: #fff !important;
    border: solid 1px #6c757d;
}

.pts {
    margin: 0;
    padding: 0 0 0 20px;
}

.pts li {
    list-style: none;
    margin: 10px 0;
    font-family: 'robotolight';
}

.pts li:before {
    content: '\f101';
    position: absolute;
    margin-left: -20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #00b904;
}


/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 0;
    padding-left: 0;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.sidenav.a.li:hover {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #444444;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */

.sidenav a:hover,
.sidenav.a.li:hover {
    color: #444444;
    font-family: "robotobold";
    background: #ededed;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #ededed;
    padding-left: 8px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    z-index: 999;
    height: 100%;
}

.sl-cont {
    width: 100%;
    background: #fff;
    border: solid 1px #ededed;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.dropdown-btn:after {
    content: '\f105';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    color: #666;
    margin-left: 5px;
}

.sidenav li {
    list-style: none;
}

.sidenav li:hover .dropdown-container {
    display: block !important;
}

.sidenav h5 {
    color: #444444;
    font-weight: bold;
    font-size: 14px;
    margin: 15px 0;
}

.dropdown-container li {
    display: inline-block;
    margin: 2px 5px;
}

.dropdown-container li a {
    padding: 6px 10px;
    border: solid 1px #c3c3c3;
    border-radius: 5px;
    background: #fff;
}

.dropdown-container li a:hover {
    background: #00b904;
    color: #fff;
    border: solid 1px #00b904;
}


/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}