@charset "utf-8";
/* CSS Document */

.abt{}
.abt_para{max-width: 800px;margin: auto}
.abt_para h2{text-transform: uppercase;}
.abt_sec{color:#484848;font-size: 23px;font-family: "robotolight";}
.abt_para2{max-width: 1000px;margin: auto}
.abt_para2 p{color: #7e7e7e}
.abt_details{background: #f5f7fa;    padding-bottom: 30px;
    padding-top: 70px;}
.abt_details_cont{background: #fff;padding: 38px;    border-radius: 15px;text-align: center;
    box-shadow: 0px 0px 15px 0px #bfbfbfa3; min-height: 270px;}
.abt_details_cont h4{font-family: "robotolight";font-size: 30px;color: #484848;text-align: center}
.abt_details_cont p{color: #7e7e7e;
    line-height: 24px;}
.abt_details_cont img{    width: 68px;
    margin-top: -90px;}
    .wfjka {
      background: #fea317;
      color: #fff;
      padding: 3rem 0;
      background: #00b904;

    }
.wfjka .wh {
  color: #fff;
  font-size: 16px;
  font-family: 'robotolight';
}

.wfjka li {
    width: 40%;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin: 0 4% 1.5rem;
    vertical-align: top;
    background: #069009;
    border-radius: .5rem;
    color: #fff;
    padding: 1rem 1.2rem;
}
.wfjka li:before {
    content: '\f00c';
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
    left: -25px;
    position: absolute;
    background: #fea317;
    padding: 0.7rem;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 0;
}
.white-txt {
  color: #fff;
}
