  /* jssor slider bullet navigator skin 01 css */
        /*
        .jssorb01 div           (normal)
        .jssorb01 div:hover     (normal mouseover)
        .jssorb01 .av           (active)
        .jssorb01 .av:hover     (active mouseover)
        .jssorb01 .dn           (mousedown)
        */
        .jssorb01 {
            position: absolute;
        }
        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            /* size of bullet elment */
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 0px solid;
			border-radius: 50%;
        }
        .jssorb01 div { background-color: gray; }
        .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
        .jssorb01 .av { background-color: #fff; }
        .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

        /* jssor slider arrow navigator skin 03 css */
        /*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        .jssora03l.jssora03ldn      (disabled)
        .jssora03r.jssora03rdn      (disabled)
        */
        .jssora03l, .jssora03r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background:none;
            overflow: hidden;
			color:#fff;
			font-size:35px;
			text-align: center;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03l.jssora03ldn { background-position: -243px -33px; }
        .jssora03r.jssora03rdn { background-position: -303px -33px; }
        .jssora03l.jssora03lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
        .jssora03r.jssora03rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
		.banner-caption h3{
			font-family: 'HelveticaNeueLTStd-ThCn';
			font-size:38px;
			color:#fff;
			text-transform:uppercase;
			font-weight:300;
			letter-spacing: 22px;
		}
		.banner-caption h2{
			font-family: 'HelveticaNeueLTStd-Blk';
			color:#3ba469;
			text-transform:uppercase;
			font-size:45px;
			letter-spacing: 1px;
		}
	
	@media screen and (max-width:767px){
		.banner-caption{
			width:800px!important;
		}
		.banner-caption h3{
			font-size:50px;	
		}
		.banner-caption h2{
			font-size:57px;
		}
		#home-banner .btn{
			font-size: 35px;
			height:100px;
			line-height: 100px;
			margin-top:20px!important;
		}
		#home-banner .btn:after{
			display:none;
			
		}
	}
	