/* basic changes to admin stylesheet */

body {
    color: #838383;
    background: #484848;
}

a {
    color: #484848;
}

a:hover {
    color: #363636;
}

.btn-success {
    background: #00B904;
    border: #00B904;
}

.btn-group .btn-success {
    padding: 7px 20px !important;
}

.nav.side-menu>li.active,
.nav.side-menu>li.current-page {
    border-right: 5px solid #00B904;
}

.left_col {
    background: #484848;
}

.nav.side-menu>li.active>a {
    background: linear-gradient(#474747, #303030), #333;
}

.nav-md ul.nav.child_menu li::before {
    background: #9ba0a5;
}

.nav-md ul.nav.child_menu li::after {
    border-left: 1px solid #9ba0a5;
}

.nav_title {
    background: #393939;
}

.sidebar-footer {
    background: #575757;
}

.sidebar-footer a {
    background: #393939;
    color: #909090;
}

.btn-group .btn {
    padding: 6px 20px;
}

.bg-green {
    background: #00B904 !important;
    border: 1px solid #00B904 !important;
}

.clock {
    color: #6C6C6C;
}

.pencile.deleteListItem {
    color: #6C6C6C;
    padding: 5px;
    border-radius: 5px;
}

.pencile.deleteListItem:hover {
    color: #fff;
    background: red;
}


/* .dataTables_filter {
    margin-right: -9px;
  } */

#datatable_filter input {
    margin-left: 5px;
    border: solid 1px #b4b4b4;
    padding: 5px 10px;
    font-weight: 400;
}

.dataTables_length select {
    border: solid 1px #b4b4b4;
    padding: 3px 5px;
}

#datatable_filter #prd_search {
    margin-left: 5px;
    border: solid 1px #b4b4b4;
    padding: 5px 10px;
    font-weight: 400;
}

.dataTables_filter label,
.dataTables_length label {
    font-weight: 400;
    color: #484848;
}

#datatable_filter #search_btn {
    padding: 5px 10px;
    margin-left: -2px;
    background: #00b904;
    color: #fff;
    border: 1px solid #00b904;
}

.table-bordered tr:hover {
    background: #e4e4e4 !important;
    color: #333;
}

.alert-success {
    background: rgba(0, 185, 4, .88);
    border-color: rgba(0, 185, 4, .88);
}

input:checked+.slider {
    background: #00b904;
}

.pagination>li>a,
.pagination>li>span {
    color: #515151;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #514f4f;
    background: #cbcbcb;
    border-color: #cbcbcb;
}

.dataTables_paginate {
    border: solid 1px #ddd;
    padding: 6px 0px;
    border-radius: 5px;
}

.dataTables_paginate .ellipsis {
    padding: 9px 12px;
    border-right: solid 1px #ddd;
}

.dataTables_paginate a {
    padding: 9px 12px !important;
    border-right: solid 1px #ddd;
    margin: 2px 0;
    background: transparent !important;
}

.paginate_button.current {
    background: #ddd !important;
    color: #484848;
}

.paginate_button:hover {
    background: #ededed !important;
    color: #484848;
}

.dataTables_paginate a:last-child {
    border: 0;
}

.dataTables_info {
    color: #484848;
}

.form-horizontal .control-label {
    color: #484848;
    padding-top: 0;
}

.up-check .form-group {
    padding: 20px 0;
    /* color: #484848; */
    border-bottom: solid 1px #ededed;
}

.up-check .form-group:last-child {
    border: 0;
}

.up-check input {
    margin: 4px 0 20px 20px;
}

.up-check input:first-child {
    margin-left: 0;
}

ul.bar_tabs>li.active {
    border-right: 6px solid #00B904;
}