/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */


/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */


/* Document
   ========================================================================== */

html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}


/* Sections
     ========================================================================== */


/**
   * Remove the margin in all browsers (opinionated).
   */

body {
    margin: 0;
}


/**
   * Add the correct display in IE 9-.
   */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */

figcaption,
figure,
main {
    /* 1 */
    display: block;
}


/**
   * Add the correct margin in IE 8.
   */

figure {
    margin: 1em 40px;
}


/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
     ========================================================================== */


/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}


/**
   * Remove the outline on focused links when they are also active or hovered
   * in all browsers (opinionated).
   */

a:active,
a:hover {
    outline-width: 0;
}


/**
   * 1. Remove the bottom border in Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */

b,
strong {
    font-weight: inherit;
}


/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
   * Add the correct font style in Android 4.3-.
   */

dfn {
    font-style: italic;
}


/**
   * Add the correct background and color in IE 9-.
   */

mark {
    background-color: #ff0;
    color: #000;
}


/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}


/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   */

audio,
video {
    display: inline-block;
}


/**
   * Add the correct display in iOS 4-7.
   */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
   * Remove the border on images inside links in IE 10-.
   */

img {
    border-style: none;
}


/**
   * Hide the overflow in IE.
   */

svg:not(:root) {
    overflow: hidden;
}


/* Forms
     ========================================================================== */


/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}


/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
   * Change the border, margin, and padding in all browsers (opinionated).
   */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}


/**
   * Remove the default vertical scrollbar in IE.
   */

textarea {
    overflow: auto;
}


/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
     ========================================================================== */


/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */

details,
menu {
    display: block;
}


/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}


/* Scripting
     ========================================================================== */


/**
   * Add the correct display in IE 9-.
   */

canvas {
    display: inline-block;
}


/**
   * Add the correct display in IE.
   */

template {
    display: none;
}


/* Hidden
     ========================================================================== */


/**
   * Add the correct display in IE 10-.
   */

[hidden] {
    display: none;
}


/**
   * Set up a decent box model on the root element
   */

html {
    box-sizing: border-box;
}


/**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    color: #7f8892;
    font-family: "robotolight";
}


/* Basic styles for links */

a {
    color: #00b904;
    text-decoration: none;
}

a:hover {
    color: #363e47;
}

.clearfix {
    clear: both !important;
}

input:focus {
    outline: 0;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


/* BEGIN Roboto Light */

@font-face {
    font-family: 'robotolight';
    src: url("../fonts/roboto/light/Roboto-Light-webfont.eot");
    src: url("../fonts/roboto/light/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/light/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto/light/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/roboto/light/Roboto-Light-webfont.svg#robotolight") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Light */


/* BEGIN Roboto Regular */

@font-face {
    font-family: 'robotoregular';
    src: url("../fonts/roboto/regular/Roboto-Regular-webfont.eot");
    src: url("../fonts/roboto/regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/regular/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto/regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto/regular/Roboto-Regular-webfont.svg#robotoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Regular */


/* BEGIN Roboto Bold */

@font-face {
    font-family: 'robotobold';
    src: url("../fonts/roboto/bold/Roboto-Bold-webfont.eot");
    src: url("../fonts/roboto/bold/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/bold/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/roboto/bold/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/roboto/bold/Roboto-Bold-webfont.svg#robotobold") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Bold */

@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello/fontello.eot");
    src: url("../fonts/fontello/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff") format("woff"), url("../fonts/fontello/fontello.ttf") format("truetype"), url("../fonts/fontello/fontello.svg?#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}

.ch-det h4 {
    font-size: 14px;
    font-family: "robotoregular";
    color: #ededed;
    letter-spacing: 1px;
}

.ch-det p {
    margin-bottom: 0;
}

.tp-sec h2 {
    color: #484848;
    font-size: 20px;
    font-family: "robotoregular";
}

h3 {
    font-size: 1.75rem;
}

.cht-heading {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 10px 15px;
    background: #00b904;
    height: 63px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.cht-heading .back-btn {
    padding: 0 10px;
    color: #fff;
    background: #069209;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.cht-heading .back-btn i {
    line-height: 38px;
}

.cht-heading .h-title {
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cht-heading .h-title h1 {
    color: #fff;
    font-family: 'robotolight';
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ch-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.side-sec {
    background: #363e47;
    width: 30%;
    max-width: 500px;
    min-width: 350px;
    height: 100% !important;
}

.search-tp {
    width: 100%;
    padding: 5px 20px;
    margin: 20px 0 15px;
}

.search-tp .searchContainer {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    background: #2d333a;
    width: 100%;
    color: #7f8892;
}

.search-tp .searchIcon {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 8px;
    right: 25px;
}

.search-tp .searchBox {
    border: 0;
    padding: 0.75rem 1rem;
    flex: 1;
    background: transparent;
    color: #fff;
}


/* chat head */

.chat-head {
    margin: 15px 0;
    width: 100%;
}

.chat-head ul {
    margin: 0;
    padding: 0;
}

.chat-head ul li {
    list-style: none;
    display: block;
    border-top: solid 1px #495058;
}

.chat-head ul li:last-child {
    border-bottom: solid 1px #495058;
}

.chat-head ul li .ch {
    display: flex;
    padding: 10px 15px;
}

.chat-head ul li .ch .ch-img-container {
    width: 70px;
    height: auto;
    margin-right: 10px;
    position: relative;
}

.chat-head ul li .ch .ch-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.chat-head ul li .ch .ch-img img {
    width: auto;
    min-width: 60px;
    height: 100%;
}

.chat-head ul li .ch .ch-det {
    width: auto;
    min-width: 210px;
    margin-top: 5px;
}

.chat-head ul li .ch .noti-count {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #00b904;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 0;
    text-align: center;
    font-size: 12px;
    font-family: "robotoregular";
}

.chat-head .active {
    background: #2d333a;
    border: 0;
}


/* chat area */

.chat-area {
    background: #ededed;
    width: 100%;
    position: relative;
}

.chat-area .simplebar-scroll-content {
    padding-right: 50px !important;
}

.tp-sec {
    border-bottom: solid 1px #d8d9d9;
    padding: 15px 20px;
}

.chats-container {
    padding: 0 20px;
    height: auto;
    height: 100%;
    padding-bottom: 140px;
}

.chats-container .chat-bx-outer {
    width: 100%;
    height: auto;
    margin: 15px 0;
    display: block;
    clear: both;
    float: left;
}

.chats-container .chat-bx-outer .chat-bx {
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 70%;
}

.chats-container .chat-bx-outer .white-bx {
    background: #fff;
    color: #7a7a7a;
}

.chats-container .chat-bx-outer .green-bx {
    background: #00b904;
    color: #fff;
    float: right;
    clear: both;
}

.chats-container .chat-bx-outer .r-time {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    color: #9a9999;
}

.chats-container .chat-bx-outer .r-time span {
    margin-left: 5px;
}

.chats-container .chat-bx-outer .img-holder {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

.chats-container .chat-bx-outer .img-holder img {
    width: 100%;
    height: auto;
}

.chats-container .rght {
    text-align: right;
    width: 100%;
}

.chats-container .rght .r-time {
    margin-top: 5px;
    margin-left: 0px;
    text-align: right;
    margin-right: 5px;
    clear: both;
}


/* chat send area */

.ch-send {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-top: solid 1px #dedede;
}

.ch-send .form-control {
    border: 0;
    padding-left: 50px;
    background: #fff;
    outline: none;
}

.ch-send .form-control:focus {
    outline: none;
}

.ch-send .form-control:active:focus {
    outline: none;
}

.attach-btn {
    background: transparent;
    border: 0;
    font-size: 24px;
    position: absolute;
    left: 1%;
    z-index: 99;
    color: #9a9999;
}


/* scroller */

[data-simplebar="init"] .simplebar-content,
[data-simplebar="init"] .simplebar-scroll-content {
    overflow-x: hidden;
}


/* welcome screen */

.ch-wlcme {
    width: 100%;
    height: 100%;
}

.ch-wlcme .chw-cont {
    margin-top: 25%;
    text-align: center;
    color: #7f8892;
}


/* chat area scrollbar */

.scroll-bar-wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 2em auto;
    padding-bottom: 180px;
}

.scroll-box {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    /* max-height: 650px; */
    overflow-y: scroll;
}

.scroll-box::-webkit-scrollbar {
    width: .4em;
}

.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

.cover-bar {
    position: absolute;
    background: transparent;
    height: 100%;
    top: 0;
    right: 0;
    width: .4em;
    -webkit-transition: all .5s;
    opacity: 1;
}


/* MAGIC HAPPENS HERE */

.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    -webkit-transition: all .5s;
}

.btn-bs-file {
    position: relative;
    cursor: pointer;
    width: 50px;
}

.btn-bs-file small {
    color: #919191;
}

.btn-bs-file i {
    color: #9a9999;
    background: transparent;
    padding: 5px 10px;
    margin-right: 10px;
}

.btn-bs-file i:before {
    font-size: 30px;
}

.btn-bs-file input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

.btn-green {
    background: #00b904;
    color: #fff;
    font-family: "robotobold";
    border-radius: 20px;
    padding: 5px 25px;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}