@charset "utf-8";
/* CSS Document */

.complaintform_back{    padding: 30px;
    background: #f5f7fa;}
.complaintform_cont{background: #fff;
    border: solid 1px #e6ecf2;
    padding: 35px !important;}
.complaintform_cont h2{
    background: #f5f7fa;
    padding: 10px;
        border-bottom: 2px solid #cccccc70;}
.complaintform_form{    max-width: 900px;padding: 10px;    margin: 0 auto;}
.fo{margin-bottom: 10px;}   