/* dashboard card styles */

.nbox-cont {
    width: 100%;
    height: auto;
}

.nbox-cont ul {
    margin: 0;
    padding: 0;
}

.nbox-cont ul li {
    list-style: none;
    display: inline-block;
    width: 32%;
    max-width: 300px;
    margin: 5px 0.5%;
}

.nbox-card {
    width: 100%;
    background: #ededed;
    border-radius: 10px;
    padding: 10px 20px;
    color: #5f5f5f;
    cursor: pointer;
    border: 0;
}

.nbox-card h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 10px 0 5px;
}

.nbox-card h4 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.green-card {
    background: #00b904;
    color: #fff;
}

.red-card {
    background: #ff431e;
    color: #fff;
}

.nbox-cont .active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.nbox-cont .disable {
    opacity: 30%;
    opacity: 0.3;
}

.nbox-cont .disable:hover {
    opacity: 100%;
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .nbox-cont ul {
        text-align: center;
    }
    .nbox-cont ul li {
        width: 32%;
        max-width: 250px;
        margin: 5px 10px;
        vertical-align: top;
    }
    .nbox-card h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 10px 0 5px;
    }
    .nbox-card h4 {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 0;
    }
    .nbox-card p {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .nbox-cont ul li {
        max-width: 150px;
        vertical-align: top;
    }
    .nbox-card p {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nbox-cont ul {
        text-align: center;
    }
    .nbox-cont ul li {
        max-width: 150px;
        vertical-align: top;
        width: 32%;
        margin: 5px 0;
    }
    .nbox-card p {
        display: none;
    }
    .nbox-card h1 {
        font-size: 2rem;
        font-weight: 600;
    }
    .nbox-card h4 {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 0;
    }
    .nbox-card {
        padding: 10px;
    }
}