@charset "utf-8";
/* CSS Document */

#accordionFAQ .card-header h5 button {
    padding: 5px 0;
    color: #222;
    font-size: 16px;
    text-decoration: none;
}

#accordionFAQ .card-header h5 button i {
       color: #00b904;
    background: #fff;
    border: 1px solid #ffc800;
    border-radius: 50%;
    padding: 5px 9px 5px 10px;
}

#accordionFAQ .contcollapse .card-body p {
	margin: 0 10px 12px 15px;}

/*logistic_register*/

.checkbox-inline{padding: 10px}