@charset "utf-8";
/* CSS Document */

/*margin*/
.margin-0{
	margin:0px!important;	
}
.margin-5{
	margin:5px!important;	
}
.margin-10{
	margin:10px!important;	
}
.margin-15{
	margin:15px!important;	
}
.margin-20{
	margin:20px!important;	
}
.margin-25{
	margin:25px!important;	
}
.margin-30{
	margin:30px!important;	
}
.margin-35{
	margin:35px!important;	
}
.margin-40{
	margin:40px!important;	
}
.margin-45{
	margin:45px!important;	
}
.margin-50{
	margin:50px!important;	
}
.margin-60{
	margin:60px!important;	
}
.margin-70{
	margin:70px!important;	
}
.margin-80{
	margin:80px!important;	
}
.margin-90{
	margin:90px!important;	
}
.margin-100{
	margin:100px!important;	
}
.margin-110{
	margin:110px!important;	
}
.margin-120{
	margin:120px!important;	
}
.margin-130{
	margin:130px!important;	
}
.margin-140{
	margin:140px!important;	
}
.margin-150{
	margin:150px!important;	
}
.margin-200{
	margin:200px!important;	
}

/*margin-bottom*/

.margin-bottom-0{
	margin-bottom:0px!important;	
}
.margin-bottom-5{
	margin-bottom:5px!important;	
}
.margin-bottom-10{
	margin-bottom:10px!important;	
}
.margin-bottom-15{
	margin-bottom:15px!important;	
}
.margin-bottom-20{
	margin-bottom:20px!important;	
}
.margin-bottom-25{
	margin-bottom:25px!important;	
}
.margin-bottom-30{
	margin-bottom:30px!important;	
}
.margin-bottom-35{
	margin-bottom:35px!important;	
}
.margin-bottom-40{
	margin-bottom:40px!important;	
}
.margin-bottom-45{
	margin-bottom:45px!important;	
}
.margin-bottom-50{
	margin-bottom:50px!important;	
}
.margin-bottom-60{
	margin-bottom:60px!important;	
}
.margin-bottom-70{
	margin-bottom:70px!important;	
}
.margin-bottom-80{
	margin-bottom:80px!important;	
}
.margin-bottom-90{
	margin-bottom:90px!important;	
}
.margin-bottom-100{
	margin-bottom:100px!important;	
}
.margin-bottom-110{
	margin-bottom:110px!important;	
}
.margin-bottom-120{
	margin-bottom:120px!important;	
}
.margin-bottom-130{
	margin-bottom:130px!important;	
}
.margin-bottom-140{
	margin-bottom:140px!important;	
}
.margin-bottom-150{
	margin-bottom:150px!important;	
}
.margin-bottom-200{
	margin-bottom:200px!important;	
}


/*margin-top*/

.margin-top-0{
	margin-top:0px!important;	
}
.margin-top-5{
	margin-top:5px!important;	
}
.margin-top-10{
	margin-top:10px!important;	
}
.margin-top-15{
	margin-top:15px!important;	
}
.margin-top-20{
	margin-top:20px!important;	
}
.margin-top-25{
	margin-top:25px!important;	
}
.margin-top-30{
	margin-top:30px!important;	
}
.margin-top-35{
	margin-top:35px!important;	
}
.margin-top-40{
	margin-top:40px!important;	
}
.margin-top-45{
	margin-top:45px!important;	
}
.margin-top-50{
	margin-top:50px!important;	
}
.margin-top-60{
	margin-top:60px!important;	
}
.margin-top-70{
	margin-top:70px!important;	
}
.margin-top-80{
	margin-top:80px!important;	
}
.margin-top-90{
	margin-top:90px!important;	
}
.margin-top-100{
	margin-top:100px!important;	
}
.margin-top-110{
	margin-top:110px!important;	
}
.margin-top-120{
	margin-top:120px!important;	
}
.margin-top-130{
	margin-top:130px!important;	
}
.margin-top-140{
	margin-top:140px!important;	
}
.margin-top-150{
	margin-top:150px!important;	
}
.margin-top-200{
	margin-top:200px!important;	
}



/*padding*/
.padding-0{
	padding:0px!important;	
}
.padding-5{
	padding:5px!important;	
}
.padding-10{
	padding:10px!important;	
}
.padding-15{
	padding:15px!important;	
}
.padding-20{
	padding:20px!important;	
}
.padding-25{
	padding:25px!important;	
}
.padding-30{
	padding:30px!important;	
}
.padding-35{
	padding:35px!important;	
}
.padding-40{
	padding:40px!important;	
}
.padding-45{
	padding:45px!important;	
}
.padding-50{
	padding:50px!important;	
}
.padding-60{
	padding:60px!important;	
}
.padding-70{
	padding:70px!important;	
}
.padding-80{
	padding:80px!important;	
}
.padding-90{
	padding:90px!important;	
}
.padding-100{
	padding:100px!important;	
}
.padding-110{
	padding:110px!important;	
}
.padding-120{
	padding:120px!important;	
}
.padding-130{
	padding:130px!important;	
}
.padding-140{
	padding:140px!important;	
}
.padding-150{
	padding:150px!important;	
}
.padding-200{
	padding:200px!important;	
}

/*padding-bottom*/

.padding-bottom-0{
	padding-bottom:0px!important;	
}
.padding-bottom-5{
	padding-bottom:5px!important;	
}
.padding-bottom-10{
	padding-bottom:10px!important;	
}
.padding-bottom-15{
	padding-bottom:15px!important;	
}
.padding-bottom-20{
	padding-bottom:20px!important;	
}
.padding-bottom-25{
	padding-bottom:25px!important;	
}
.padding-bottom-30{
	padding-bottom:30px!important;	
}
.padding-bottom-35{
	padding-bottom:35px!important;	
}
.padding-bottom-40{
	padding-bottom:40px!important;	
}
.padding-bottom-45{
	padding-bottom:45px!important;	
}
.padding-bottom-50{
	padding-bottom:50px!important;	
}
.padding-bottom-60{
	padding-bottom:60px!important;	
}
.padding-bottom-70{
	padding-bottom:70px!important;	
}
.padding-bottom-80{
	padding-bottom:80px!important;	
}
.padding-bottom-90{
	padding-bottom:90px!important;	
}
.padding-bottom-100{
	padding-bottom:100px!important;	
}
.padding-bottom-110{
	padding-bottom:110px!important;	
}
.padding-bottom-120{
	padding-bottom:120px!important;	
}
.padding-bottom-130{
	padding-bottom:130px!important;	
}
.padding-bottom-140{
	padding-bottom:140px!important;	
}
.padding-bottom-150{
	padding-bottom:150px!important;	
}
.padding-bottom-200{
	padding-bottom:200px!important;	
}


/*padding-top*/

.padding-top-0{
	padding-top:0px!important;	
}
.padding-top-5{
	padding-top:5px!important;	
}
.padding-top-10{
	padding-top:10px!important;	
}
.padding-top-15{
	padding-top:15px!important;	
}
.padding-top-20{
	padding-top:20px!important;	
}
.padding-top-25{
	padding-top:25px!important;	
}
.padding-top-30{
	padding-top:30px!important;	
}
.padding-top-35{
	padding-top:35px!important;	
}
.padding-top-40{
	padding-top:40px!important;	
}
.padding-top-45{
	padding-top:45px!important;	
}
.padding-top-50{
	padding-top:50px!important;	
}
.padding-top-60{
	padding-top:60px!important;	
}
.padding-top-70{
	padding-top:70px!important;	
}
.padding-top-80{
	padding-top:80px!important;	
}
.padding-top-90{
	padding-top:90px!important;	
}
.padding-top-100{
	padding-top:100px!important;	
}
.padding-top-110{
	padding-top:110px!important;	
}
.padding-top-120{
	padding-top:120px!important;	
}
.padding-top-130{
	padding-top:130px!important;	
}
.padding-top-140{
	padding-top:140px!important;	
}
.padding-top-150{
	padding-top:150px!important;	
}
.padding-top-200{
	padding-top:200px!important;	
}


@media screen and (min-width:1200px){
	/*margin*/
.margin-lg-0{
	margin:0px!important;	
}
.margin-lg-5{
	margin:5px!important;	
}
.margin-lg-10{
	margin:10px!important;	
}
.margin-lg-15{
	margin:15px!important;	
}
.margin-lg-20{
	margin:20px!important;	
}
.margin-lg-25{
	margin:25px!important;	
}
.margin-lg-30{
	margin:30px!important;	
}
.margin-lg-35{
	margin:35px!important;	
}
.margin-lg-40{
	margin:40px!important;	
}
.margin-lg-45{
	margin:45px!important;	
}
.margin-lg-50{
	margin:50px!important;	
}
.margin-lg-60{
	margin:60px!important;	
}
.margin-lg-70{
	margin:70px!important;	
}
.margin-lg-80{
	margin:80px!important;	
}
.margin-lg-90{
	margin:90px!important;	
}
.margin-lg-100{
	margin:100px!important;	
}
.margin-lg-110{
	margin:110px!important;	
}
.margin-lg-120{
	margin:120px!important;	
}
.margin-lg-130{
	margin:130px!important;	
}
.margin-lg-140{
	margin:140px!important;	
}
.margin-lg-150{
	margin:150px!important;	
}
.margin-lg-200{
	margin:200px!important;	
}

/*margin-bottom*/

.margin-bottom-lg-0{
	margin-bottom:0px!important;	
}
.margin-bottom-lg-5{
	margin-bottom:5px!important;	
}
.margin-bottom-lg-10{
	margin-bottom:10px!important;	
}
.margin-bottom-lg-15{
	margin-bottom:15px!important;	
}
.margin-bottom-lg-20{
	margin-bottom:20px!important;	
}
.margin-bottom-lg-25{
	margin-bottom:25px!important;	
}
.margin-bottom-lg-30{
	margin-bottom:30px!important;	
}
.margin-bottom-lg-35{
	margin-bottom:35px!important;	
}
.margin-bottom-lg-40{
	margin-bottom:40px!important;	
}
.margin-bottom-lg-45{
	margin-bottom:45px!important;	
}
.margin-bottom-lg-50{
	margin-bottom:50px!important;	
}
.margin-bottom-lg-60{
	margin-bottom:60px!important;	
}
.margin-bottom-lg-70{
	margin-bottom:70px!important;	
}
.margin-bottom-lg-80{
	margin-bottom:80px!important;	
}
.margin-bottom-lg-90{
	margin-bottom:90px!important;	
}
.margin-bottom-lg-100{
	margin-bottom:100px!important;	
}
.margin-bottom-lg-110{
	margin-bottom:110px!important;	
}
.margin-bottom-lg-120{
	margin-bottom:120px!important;	
}
.margin-bottom-lg-130{
	margin-bottom:130px!important;	
}
.margin-bottom-lg-140{
	margin-bottom:140px!important;	
}
.margin-bottom-lg-150{
	margin-bottom:150px!important;	
}
.margin-bottom-lg-200{
	margin-bottom:200px!important;	
}


/*margin-top*/

.margin-top-lg-0{
	margin-top:0px!important;	
}
.margin-top-lg-5{
	margin-top:5px!important;	
}
.margin-top-lg-10{
	margin-top:10px!important;	
}
.margin-top-lg-15{
	margin-top:15px!important;	
}
.margin-top-lg-20{
	margin-top:20px!important;	
}
.margin-top-lg-25{
	margin-top:25px!important;	
}
.margin-top-lg-30{
	margin-top:30px!important;	
}
.margin-top-lg-35{
	margin-top:35px!important;	
}
.margin-top-lg-40{
	margin-top:40px!important;	
}
.margin-top-lg-45{
	margin-top:45px!important;	
}
.margin-top-lg-50{
	margin-top:50px!important;	
}
.margin-top-lg-60{
	margin-top:60px!important;	
}
.margin-top-lg-70{
	margin-top:70px!important;	
}
.margin-top-lg-80{
	margin-top:80px!important;	
}
.margin-top-lg-90{
	margin-top:90px!important;	
}
.margin-top-lg-100{
	margin-top:100px!important;	
}
.margin-top-lg-110{
	margin-top:110px!important;	
}
.margin-top-lg-120{
	margin-top:120px!important;	
}
.margin-top-lg-130{
	margin-top:130px!important;	
}
.margin-top-lg-140{
	margin-top:140px!important;	
}
.margin-top-lg-150{
	margin-top:150px!important;	
}
.margin-top-lg-200{
	margin-top:200px!important;	
}



/*padding*/
.padding-lg-0{
	padding:0px!important;	
}
.padding-lg-5{
	padding:5px!important;	
}
.padding-lg-10{
	padding:10px!important;	
}
.padding-lg-15{
	padding:15px!important;	
}
.padding-lg-20{
	padding:20px!important;	
}
.padding-lg-25{
	padding:25px!important;	
}
.padding-lg-30{
	padding:30px!important;	
}
.padding-lg-35{
	padding:35px!important;	
}
.padding-lg-40{
	padding:40px!important;	
}
.padding-lg-45{
	padding:45px!important;	
}
.padding-lg-50{
	padding:50px!important;	
}
.padding-lg-60{
	padding:60px!important;	
}
.padding-lg-70{
	padding:70px!important;	
}
.padding-lg-80{
	padding:80px!important;	
}
.padding-lg-90{
	padding:90px!important;	
}
.padding-lg-100{
	padding:100px!important;	
}
.padding-lg-110{
	padding:110px!important;	
}
.padding-lg-120{
	padding:120px!important;	
}
.padding-lg-130{
	padding:130px!important;	
}
.padding-lg-140{
	padding:140px!important;	
}
.padding-lg-150{
	padding:150px!important;	
}
.padding-lg-200{
	padding:200px!important;	
}

/*padding-bottom*/

.padding-bottom-lg-0{
	padding-bottom:0px!important;	
}
.padding-bottom-lg-5{
	padding-bottom:5px!important;	
}
.padding-bottom-lg-10{
	padding-bottom:10px!important;	
}
.padding-bottom-lg-15{
	padding-bottom:15px!important;	
}
.padding-bottom-lg-20{
	padding-bottom:20px!important;	
}
.padding-bottom-lg-25{
	padding-bottom:25px!important;	
}
.padding-bottom-lg-30{
	padding-bottom:30px!important;	
}
.padding-bottom-lg-35{
	padding-bottom:35px!important;	
}
.padding-bottom-lg-40{
	padding-bottom:40px!important;	
}
.padding-bottom-lg-45{
	padding-bottom:45px!important;	
}
.padding-bottom-lg-50{
	padding-bottom:50px!important;	
}
.padding-bottom-lg-60{
	padding-bottom:60px!important;	
}
.padding-bottom-lg-70{
	padding-bottom:70px!important;	
}
.padding-bottom-lg-80{
	padding-bottom:80px!important;	
}
.padding-bottom-lg-90{
	padding-bottom:90px!important;	
}
.padding-bottom-lg-100{
	padding-bottom:100px!important;	
}
.padding-bottom-lg-110{
	padding-bottom:110px!important;	
}
.padding-bottom-lg-120{
	padding-bottom:120px!important;	
}
.padding-bottom-lg-130{
	padding-bottom:130px!important;	
}
.padding-bottom-lg-140{
	padding-bottom:140px!important;	
}
.padding-bottom-lg-150{
	padding-bottom:150px!important;	
}
.padding-bottom-lg-200{
	padding-bottom:200px!important;	
}


/*padding-top*/

.padding-top-lg-0{
	padding-top:0px!important;	
}
.padding-top-lg-5{
	padding-top:5px!important;	
}
.padding-top-lg-10{
	padding-top:10px!important;	
}
.padding-top-lg-15{
	padding-top:15px!important;	
}
.padding-top-lg-20{
	padding-top:20px!important;	
}
.padding-top-lg-25{
	padding-top:25px!important;	
}
.padding-top-lg-30{
	padding-top:30px!important;	
}
.padding-top-lg-35{
	padding-top:35px!important;	
}
.padding-top-lg-40{
	padding-top:40px!important;	
}
.padding-top-lg-45{
	padding-top:45px!important;	
}
.padding-top-lg-50{
	padding-top:50px!important;	
}
.padding-top-lg-60{
	padding-top:60px!important;	
}
.padding-top-lg-70{
	padding-top:70px!important;	
}
.padding-top-lg-80{
	padding-top:80px!important;	
}
.padding-top-lg-90{
	padding-top:90px!important;	
}
.padding-top-lg-100{
	padding-top:100px!important;	
}
.padding-top-lg-110{
	padding-top:110px!important;	
}
.padding-top-lg-120{
	padding-top:120px!important;	
}
.padding-top-lg-130{
	padding-top:130px!important;	
}
.padding-top-lg-140{
	padding-top:140px!important;	
}
.padding-top-lg-150{
	padding-top:150px!important;	
}
.padding-top-lg-200{
	padding-top:200px!important;	
}
}

@media screen and (max-width:1199px){
	/*margin*/
.margin-md-0{
	margin:0px!important;	
}
.margin-md-5{
	margin:5px!important;	
}
.margin-md-10{
	margin:10px!important;	
}
.margin-md-15{
	margin:15px!important;	
}
.margin-md-20{
	margin:20px!important;	
}
.margin-md-25{
	margin:25px!important;	
}
.margin-md-30{
	margin:30px!important;	
}
.margin-md-35{
	margin:35px!important;	
}
.margin-md-40{
	margin:40px!important;	
}
.margin-md-45{
	margin:45px!important;	
}
.margin-md-50{
	margin:50px!important;	
}
.margin-md-60{
	margin:60px!important;	
}
.margin-md-70{
	margin:70px!important;	
}
.margin-md-80{
	margin:80px!important;	
}
.margin-md-90{
	margin:90px!important;	
}
.margin-md-100{
	margin:100px!important;	
}
.margin-md-110{
	margin:110px!important;	
}
.margin-md-120{
	margin:120px!important;	
}
.margin-md-130{
	margin:130px!important;	
}
.margin-md-140{
	margin:140px!important;	
}
.margin-md-150{
	margin:150px!important;	
}
.margin-md-200{
	margin:200px!important;	
}

/*margin-bottom*/

.margin-bottom-md-0{
	margin-bottom:0px!important;	
}
.margin-bottom-md-5{
	margin-bottom:5px!important;	
}
.margin-bottom-md-10{
	margin-bottom:10px!important;	
}
.margin-bottom-md-15{
	margin-bottom:15px!important;	
}
.margin-bottom-md-20{
	margin-bottom:20px!important;	
}
.margin-bottom-md-25{
	margin-bottom:25px!important;	
}
.margin-bottom-md-30{
	margin-bottom:30px!important;	
}
.margin-bottom-md-35{
	margin-bottom:35px!important;	
}
.margin-bottom-md-40{
	margin-bottom:40px!important;	
}
.margin-bottom-md-45{
	margin-bottom:45px!important;	
}
.margin-bottom-md-50{
	margin-bottom:50px!important;	
}
.margin-bottom-md-60{
	margin-bottom:60px!important;	
}
.margin-bottom-md-70{
	margin-bottom:70px!important;	
}
.margin-bottom-md-80{
	margin-bottom:80px!important;	
}
.margin-bottom-md-90{
	margin-bottom:90px!important;	
}
.margin-bottom-md-100{
	margin-bottom:100px!important;	
}
.margin-bottom-md-110{
	margin-bottom:110px!important;	
}
.margin-bottom-md-120{
	margin-bottom:120px!important;	
}
.margin-bottom-md-130{
	margin-bottom:130px!important;	
}
.margin-bottom-md-140{
	margin-bottom:140px!important;	
}
.margin-bottom-md-150{
	margin-bottom:150px!important;	
}
.margin-bottom-md-200{
	margin-bottom:200px!important;	
}


/*margin-top*/

.margin-top-md-0{
	margin-top:0px!important;	
}
.margin-top-md-5{
	margin-top:5px!important;	
}
.margin-top-md-10{
	margin-top:10px!important;	
}
.margin-top-md-15{
	margin-top:15px!important;	
}
.margin-top-md-20{
	margin-top:20px!important;	
}
.margin-top-md-25{
	margin-top:25px!important;	
}
.margin-top-md-30{
	margin-top:30px!important;	
}
.margin-top-md-35{
	margin-top:35px!important;	
}
.margin-top-md-40{
	margin-top:40px!important;	
}
.margin-top-md-45{
	margin-top:45px!important;	
}
.margin-top-md-50{
	margin-top:50px!important;	
}
.margin-top-md-60{
	margin-top:60px!important;	
}
.margin-top-md-70{
	margin-top:70px!important;	
}
.margin-top-md-80{
	margin-top:80px!important;	
}
.margin-top-md-90{
	margin-top:90px!important;	
}
.margin-top-md-100{
	margin-top:100px!important;	
}
.margin-top-md-110{
	margin-top:110px!important;	
}
.margin-top-md-120{
	margin-top:120px!important;	
}
.margin-top-md-130{
	margin-top:130px!important;	
}
.margin-top-md-140{
	margin-top:140px!important;	
}
.margin-top-md-150{
	margin-top:150px!important;	
}
.margin-top-md-200{
	margin-top:200px!important;	
}



/*padding*/
.padding-md-0{
	padding:0px!important;	
}
.padding-md-5{
	padding:5px!important;	
}
.padding-md-10{
	padding:10px!important;	
}
.padding-md-15{
	padding:15px!important;	
}
.padding-md-20{
	padding:20px!important;	
}
.padding-md-25{
	padding:25px!important;	
}
.padding-md-30{
	padding:30px!important;	
}
.padding-md-35{
	padding:35px!important;	
}
.padding-md-40{
	padding:40px!important;	
}
.padding-md-45{
	padding:45px!important;	
}
.padding-md-50{
	padding:50px!important;	
}
.padding-md-60{
	padding:60px!important;	
}
.padding-md-70{
	padding:70px!important;	
}
.padding-md-80{
	padding:80px!important;	
}
.padding-md-90{
	padding:90px!important;	
}
.padding-md-100{
	padding:100px!important;	
}
.padding-md-110{
	padding:110px!important;	
}
.padding-md-120{
	padding:120px!important;	
}
.padding-md-130{
	padding:130px!important;	
}
.padding-md-140{
	padding:140px!important;	
}
.padding-md-150{
	padding:150px!important;	
}
.padding-md-200{
	padding:200px!important;	
}

/*padding-bottom*/

.padding-bottom-md-0{
	padding-bottom:0px!important;	
}
.padding-bottom-md-5{
	padding-bottom:5px!important;	
}
.padding-bottom-md-10{
	padding-bottom:10px!important;	
}
.padding-bottom-md-15{
	padding-bottom:15px!important;	
}
.padding-bottom-md-20{
	padding-bottom:20px!important;	
}
.padding-bottom-md-25{
	padding-bottom:25px!important;	
}
.padding-bottom-md-30{
	padding-bottom:30px!important;	
}
.padding-bottom-md-35{
	padding-bottom:35px!important;	
}
.padding-bottom-md-40{
	padding-bottom:40px!important;	
}
.padding-bottom-md-45{
	padding-bottom:45px!important;	
}
.padding-bottom-md-50{
	padding-bottom:50px!important;	
}
.padding-bottom-md-60{
	padding-bottom:60px!important;	
}
.padding-bottom-md-70{
	padding-bottom:70px!important;	
}
.padding-bottom-md-80{
	padding-bottom:80px!important;	
}
.padding-bottom-md-90{
	padding-bottom:90px!important;	
}
.padding-bottom-md-100{
	padding-bottom:100px!important;	
}
.padding-bottom-md-110{
	padding-bottom:110px!important;	
}
.padding-bottom-md-120{
	padding-bottom:120px!important;	
}
.padding-bottom-md-130{
	padding-bottom:130px!important;	
}
.padding-bottom-md-140{
	padding-bottom:140px!important;	
}
.padding-bottom-md-150{
	padding-bottom:150px!important;	
}
.padding-bottom-md-200{
	padding-bottom:200px!important;	
}


/*padding-top*/

.padding-top-md-0{
	padding-top:0px!important;	
}
.padding-top-md-5{
	padding-top:5px!important;	
}
.padding-top-md-10{
	padding-top:10px!important;	
}
.padding-top-md-15{
	padding-top:15px!important;	
}
.padding-top-md-20{
	padding-top:20px!important;	
}
.padding-top-md-25{
	padding-top:25px!important;	
}
.padding-top-md-30{
	padding-top:30px!important;	
}
.padding-top-md-35{
	padding-top:35px!important;	
}
.padding-top-md-40{
	padding-top:40px!important;	
}
.padding-top-md-45{
	padding-top:45px!important;	
}
.padding-top-md-50{
	padding-top:50px!important;	
}
.padding-top-md-60{
	padding-top:60px!important;	
}
.padding-top-md-70{
	padding-top:70px!important;	
}
.padding-top-md-80{
	padding-top:80px!important;	
}
.padding-top-md-90{
	padding-top:90px!important;	
}
.padding-top-md-100{
	padding-top:100px!important;	
}
.padding-top-md-110{
	padding-top:110px!important;	
}
.padding-top-md-120{
	padding-top:120px!important;	
}
.padding-top-md-130{
	padding-top:130px!important;	
}
.padding-top-md-140{
	padding-top:140px!important;	
}
.padding-top-md-150{
	padding-top:150px!important;	
}
.padding-top-md-200{
	padding-top:200px!important;	
}
	
}


@media screen and (max-width:991px){
	/*margin*/
.margin-sm-0{
	margin:0px!important;	
}
.margin-sm-5{
	margin:5px!important;	
}
.margin-sm-10{
	margin:10px!important;	
}
.margin-sm-15{
	margin:15px!important;	
}
.margin-sm-20{
	margin:20px!important;	
}
.margin-sm-25{
	margin:25px!important;	
}
.margin-sm-30{
	margin:30px!important;	
}
.margin-sm-35{
	margin:35px!important;	
}
.margin-sm-40{
	margin:40px!important;	
}
.margin-sm-45{
	margin:45px!important;	
}
.margin-sm-50{
	margin:50px!important;	
}
.margin-sm-60{
	margin:60px!important;	
}
.margin-sm-70{
	margin:70px!important;	
}
.margin-sm-80{
	margin:80px!important;	
}
.margin-sm-90{
	margin:90px!important;	
}
.margin-sm-100{
	margin:100px!important;	
}
.margin-sm-110{
	margin:110px!important;	
}
.margin-sm-120{
	margin:120px!important;	
}
.margin-sm-130{
	margin:130px!important;	
}
.margin-sm-140{
	margin:140px!important;	
}
.margin-sm-150{
	margin:150px!important;	
}
.margin-sm-200{
	margin:200px!important;	
}

/*margin-bottom*/

.margin-bottom-sm-0{
	margin-bottom:0px!important;	
}
.margin-bottom-sm-5{
	margin-bottom:5px!important;	
}
.margin-bottom-sm-10{
	margin-bottom:10px!important;	
}
.margin-bottom-sm-15{
	margin-bottom:15px!important;	
}
.margin-bottom-sm-20{
	margin-bottom:20px!important;	
}
.margin-bottom-sm-25{
	margin-bottom:25px!important;	
}
.margin-bottom-sm-30{
	margin-bottom:30px!important;	
}
.margin-bottom-sm-35{
	margin-bottom:35px!important;	
}
.margin-bottom-sm-40{
	margin-bottom:40px!important;	
}
.margin-bottom-sm-45{
	margin-bottom:45px!important;	
}
.margin-bottom-sm-50{
	margin-bottom:50px!important;	
}
.margin-bottom-sm-60{
	margin-bottom:60px!important;	
}
.margin-bottom-sm-70{
	margin-bottom:70px!important;	
}
.margin-bottom-sm-80{
	margin-bottom:80px!important;	
}
.margin-bottom-sm-90{
	margin-bottom:90px!important;	
}
.margin-bottom-sm-100{
	margin-bottom:100px!important;	
}
.margin-bottom-sm-110{
	margin-bottom:110px!important;	
}
.margin-bottom-sm-120{
	margin-bottom:120px!important;	
}
.margin-bottom-sm-130{
	margin-bottom:130px!important;	
}
.margin-bottom-sm-140{
	margin-bottom:140px!important;	
}
.margin-bottom-sm-150{
	margin-bottom:150px!important;	
}
.margin-bottom-sm-200{
	margin-bottom:200px!important;	
}


/*margin-top*/

.margin-top-sm-0{
	margin-top:0px!important;	
}
.margin-top-sm-5{
	margin-top:5px!important;	
}
.margin-top-sm-10{
	margin-top:10px!important;	
}
.margin-top-sm-15{
	margin-top:15px!important;	
}
.margin-top-sm-20{
	margin-top:20px!important;	
}
.margin-top-sm-25{
	margin-top:25px!important;	
}
.margin-top-sm-30{
	margin-top:30px!important;	
}
.margin-top-sm-35{
	margin-top:35px!important;	
}
.margin-top-sm-40{
	margin-top:40px!important;	
}
.margin-top-sm-45{
	margin-top:45px!important;	
}
.margin-top-sm-50{
	margin-top:50px!important;	
}
.margin-top-sm-60{
	margin-top:60px!important;	
}
.margin-top-sm-70{
	margin-top:70px!important;	
}
.margin-top-sm-80{
	margin-top:80px!important;	
}
.margin-top-sm-90{
	margin-top:90px!important;	
}
.margin-top-sm-100{
	margin-top:100px!important;	
}
.margin-top-sm-110{
	margin-top:110px!important;	
}
.margin-top-sm-120{
	margin-top:120px!important;	
}
.margin-top-sm-130{
	margin-top:130px!important;	
}
.margin-top-sm-140{
	margin-top:140px!important;	
}
.margin-top-sm-150{
	margin-top:150px!important;	
}
.margin-top-sm-200{
	margin-top:200px!important;	
}



/*padding*/
.padding-sm-0{
	padding:0px!important;	
}
.padding-sm-5{
	padding:5px!important;	
}
.padding-sm-10{
	padding:10px!important;	
}
.padding-sm-15{
	padding:15px!important;	
}
.padding-sm-20{
	padding:20px!important;	
}
.padding-sm-25{
	padding:25px!important;	
}
.padding-sm-30{
	padding:30px!important;	
}
.padding-sm-35{
	padding:35px!important;	
}
.padding-sm-40{
	padding:40px!important;	
}
.padding-sm-45{
	padding:45px!important;	
}
.padding-sm-50{
	padding:50px!important;	
}
.padding-sm-60{
	padding:60px!important;	
}
.padding-sm-70{
	padding:70px!important;	
}
.padding-sm-80{
	padding:80px!important;	
}
.padding-sm-90{
	padding:90px!important;	
}
.padding-sm-100{
	padding:100px!important;	
}
.padding-sm-110{
	padding:110px!important;	
}
.padding-sm-120{
	padding:120px!important;	
}
.padding-sm-130{
	padding:130px!important;	
}
.padding-sm-140{
	padding:140px!important;	
}
.padding-sm-150{
	padding:150px!important;	
}
.padding-sm-200{
	padding:200px!important;	
}

/*padding-bottom*/

.padding-bottom-sm-0{
	padding-bottom:0px!important;	
}
.padding-bottom-sm-5{
	padding-bottom:5px!important;	
}
.padding-bottom-sm-10{
	padding-bottom:10px!important;	
}
.padding-bottom-sm-15{
	padding-bottom:15px!important;	
}
.padding-bottom-sm-20{
	padding-bottom:20px!important;	
}
.padding-bottom-sm-25{
	padding-bottom:25px!important;	
}
.padding-bottom-sm-30{
	padding-bottom:30px!important;	
}
.padding-bottom-sm-35{
	padding-bottom:35px!important;	
}
.padding-bottom-sm-40{
	padding-bottom:40px!important;	
}
.padding-bottom-sm-45{
	padding-bottom:45px!important;	
}
.padding-bottom-sm-50{
	padding-bottom:50px!important;	
}
.padding-bottom-sm-60{
	padding-bottom:60px!important;	
}
.padding-bottom-sm-70{
	padding-bottom:70px!important;	
}
.padding-bottom-sm-80{
	padding-bottom:80px!important;	
}
.padding-bottom-sm-90{
	padding-bottom:90px!important;	
}
.padding-bottom-sm-100{
	padding-bottom:100px!important;	
}
.padding-bottom-sm-110{
	padding-bottom:110px!important;	
}
.padding-bottom-sm-120{
	padding-bottom:120px!important;	
}
.padding-bottom-sm-130{
	padding-bottom:130px!important;	
}
.padding-bottom-sm-140{
	padding-bottom:140px!important;	
}
.padding-bottom-sm-150{
	padding-bottom:150px!important;	
}
.padding-bottom-sm-200{
	padding-bottom:200px!important;	
}


/*padding-top*/

.padding-top-sm-0{
	padding-top:0px!important;	
}
.padding-top-sm-5{
	padding-top:5px!important;	
}
.padding-top-sm-10{
	padding-top:10px!important;	
}
.padding-top-sm-15{
	padding-top:15px!important;	
}
.padding-top-sm-20{
	padding-top:20px!important;	
}
.padding-top-sm-25{
	padding-top:25px!important;	
}
.padding-top-sm-30{
	padding-top:30px!important;	
}
.padding-top-sm-35{
	padding-top:35px!important;	
}
.padding-top-sm-40{
	padding-top:40px!important;	
}
.padding-top-sm-45{
	padding-top:45px!important;	
}
.padding-top-sm-50{
	padding-top:50px!important;	
}
.padding-top-sm-60{
	padding-top:60px!important;	
}
.padding-top-sm-70{
	padding-top:70px!important;	
}
.padding-top-sm-80{
	padding-top:80px!important;	
}
.padding-top-sm-90{
	padding-top:90px!important;	
}
.padding-top-sm-100{
	padding-top:100px!important;	
}
.padding-top-sm-110{
	padding-top:110px!important;	
}
.padding-top-sm-120{
	padding-top:120px!important;	
}
.padding-top-sm-130{
	padding-top:130px!important;	
}
.padding-top-sm-140{
	padding-top:140px!important;	
}
.padding-top-sm-150{
	padding-top:150px!important;	
}
.padding-top-sm-200{
	padding-top:200px!important;	
}
	
}

@media screen and (max-width:767px){
	/*margin*/
.margin-xs-0{
	margin:0px!important;	
}
.margin-xs-5{
	margin:5px!important;	
}
.margin-xs-10{
	margin:10px!important;	
}
.margin-xs-15{
	margin:15px!important;	
}
.margin-xs-20{
	margin:20px!important;	
}
.margin-xs-25{
	margin:25px!important;	
}
.margin-xs-30{
	margin:30px!important;	
}
.margin-xs-35{
	margin:35px!important;	
}
.margin-xs-40{
	margin:40px!important;	
}
.margin-xs-45{
	margin:45px!important;	
}
.margin-xs-50{
	margin:50px!important;	
}
.margin-xs-60{
	margin:60px!important;	
}
.margin-xs-70{
	margin:70px!important;	
}
.margin-xs-80{
	margin:80px!important;	
}
.margin-xs-90{
	margin:90px!important;	
}
.margin-xs-100{
	margin:100px!important;	
}
.margin-xs-110{
	margin:110px!important;	
}
.margin-xs-120{
	margin:120px!important;	
}
.margin-xs-130{
	margin:130px!important;	
}
.margin-xs-140{
	margin:140px!important;	
}
.margin-xs-150{
	margin:150px!important;	
}
.margin-xs-200{
	margin:200px!important;	
}

/*margin-bottom*/

.margin-bottom-xs-0{
	margin-bottom:0px!important;	
}
.margin-bottom-xs-5{
	margin-bottom:5px!important;	
}
.margin-bottom-xs-10{
	margin-bottom:10px!important;	
}
.margin-bottom-xs-15{
	margin-bottom:15px!important;	
}
.margin-bottom-xs-20{
	margin-bottom:20px!important;	
}
.margin-bottom-xs-25{
	margin-bottom:25px!important;	
}
.margin-bottom-xs-30{
	margin-bottom:30px!important;	
}
.margin-bottom-xs-35{
	margin-bottom:35px!important;	
}
.margin-bottom-xs-40{
	margin-bottom:40px!important;	
}
.margin-bottom-xs-45{
	margin-bottom:45px!important;	
}
.margin-bottom-xs-50{
	margin-bottom:50px!important;	
}
.margin-bottom-xs-60{
	margin-bottom:60px!important;	
}
.margin-bottom-xs-70{
	margin-bottom:70px!important;	
}
.margin-bottom-xs-80{
	margin-bottom:80px!important;	
}
.margin-bottom-xs-90{
	margin-bottom:90px!important;	
}
.margin-bottom-xs-100{
	margin-bottom:100px!important;	
}
.margin-bottom-xs-110{
	margin-bottom:110px!important;	
}
.margin-bottom-xs-120{
	margin-bottom:120px!important;	
}
.margin-bottom-xs-130{
	margin-bottom:130px!important;	
}
.margin-bottom-xs-140{
	margin-bottom:140px!important;	
}
.margin-bottom-xs-150{
	margin-bottom:150px!important;	
}
.margin-bottom-xs-200{
	margin-bottom:200px!important;	
}


/*margin-top*/

.margin-top-xs-0{
	margin-top:0px!important;	
}
.margin-top-xs-5{
	margin-top:5px!important;	
}
.margin-top-xs-10{
	margin-top:10px!important;	
}
.margin-top-xs-15{
	margin-top:15px!important;	
}
.margin-top-xs-20{
	margin-top:20px!important;	
}
.margin-top-xs-25{
	margin-top:25px!important;	
}
.margin-top-xs-30{
	margin-top:30px!important;	
}
.margin-top-xs-35{
	margin-top:35px!important;	
}
.margin-top-xs-40{
	margin-top:40px!important;	
}
.margin-top-xs-45{
	margin-top:45px!important;	
}
.margin-top-xs-50{
	margin-top:50px!important;	
}
.margin-top-xs-60{
	margin-top:60px!important;	
}
.margin-top-xs-70{
	margin-top:70px!important;	
}
.margin-top-xs-80{
	margin-top:80px!important;	
}
.margin-top-xs-90{
	margin-top:90px!important;	
}
.margin-top-xs-100{
	margin-top:100px!important;	
}
.margin-top-xs-110{
	margin-top:110px!important;	
}
.margin-top-xs-120{
	margin-top:120px!important;	
}
.margin-top-xs-130{
	margin-top:130px!important;	
}
.margin-top-xs-140{
	margin-top:140px!important;	
}
.margin-top-xs-150{
	margin-top:150px!important;	
}
.margin-top-xs-200{
	margin-top:200px!important;	
}



/*padding*/
.padding-xs-0{
	padding:0px!important;	
}
.padding-xs-5{
	padding:5px!important;	
}
.padding-xs-10{
	padding:10px!important;	
}
.padding-xs-15{
	padding:15px!important;	
}
.padding-xs-20{
	padding:20px!important;	
}
.padding-xs-25{
	padding:25px!important;	
}
.padding-xs-30{
	padding:30px!important;	
}
.padding-xs-35{
	padding:35px!important;	
}
.padding-xs-40{
	padding:40px!important;	
}
.padding-xs-45{
	padding:45px!important;	
}
.padding-xs-50{
	padding:50px!important;	
}
.padding-xs-60{
	padding:60px!important;	
}
.padding-xs-70{
	padding:70px!important;	
}
.padding-xs-80{
	padding:80px!important;	
}
.padding-xs-90{
	padding:90px!important;	
}
.padding-xs-100{
	padding:100px!important;	
}
.padding-xs-110{
	padding:110px!important;	
}
.padding-xs-120{
	padding:120px!important;	
}
.padding-xs-130{
	padding:130px!important;	
}
.padding-xs-140{
	padding:140px!important;	
}
.padding-xs-150{
	padding:150px!important;	
}
.padding-xs-200{
	padding:200px!important;	
}

/*padding-bottom*/

.padding-bottom-xs-0{
	padding-bottom:0px!important;	
}
.padding-bottom-xs-5{
	padding-bottom:5px!important;	
}
.padding-bottom-xs-10{
	padding-bottom:10px!important;	
}
.padding-bottom-xs-15{
	padding-bottom:15px!important;	
}
.padding-bottom-xs-20{
	padding-bottom:20px!important;	
}
.padding-bottom-xs-25{
	padding-bottom:25px!important;	
}
.padding-bottom-xs-30{
	padding-bottom:30px!important;	
}
.padding-bottom-xs-35{
	padding-bottom:35px!important;	
}
.padding-bottom-xs-40{
	padding-bottom:40px!important;	
}
.padding-bottom-xs-45{
	padding-bottom:45px!important;	
}
.padding-bottom-xs-50{
	padding-bottom:50px!important;	
}
.padding-bottom-xs-60{
	padding-bottom:60px!important;	
}
.padding-bottom-xs-70{
	padding-bottom:70px!important;	
}
.padding-bottom-xs-80{
	padding-bottom:80px!important;	
}
.padding-bottom-xs-90{
	padding-bottom:90px!important;	
}
.padding-bottom-xs-100{
	padding-bottom:100px!important;	
}
.padding-bottom-xs-110{
	padding-bottom:110px!important;	
}
.padding-bottom-xs-120{
	padding-bottom:120px!important;	
}
.padding-bottom-xs-130{
	padding-bottom:130px!important;	
}
.padding-bottom-xs-140{
	padding-bottom:140px!important;	
}
.padding-bottom-xs-150{
	padding-bottom:150px!important;	
}
.padding-bottom-xs-200{
	padding-bottom:200px!important;	
}


/*padding-top*/

.padding-top-xs-0{
	padding-top:0px!important;	
}
.padding-top-xs-5{
	padding-top:5px!important;	
}
.padding-top-xs-10{
	padding-top:10px!important;	
}
.padding-top-xs-15{
	padding-top:15px!important;	
}
.padding-top-xs-20{
	padding-top:20px!important;	
}
.padding-top-xs-25{
	padding-top:25px!important;	
}
.padding-top-xs-30{
	padding-top:30px!important;	
}
.padding-top-xs-35{
	padding-top:35px!important;	
}
.padding-top-xs-40{
	padding-top:40px!important;	
}
.padding-top-xs-45{
	padding-top:45px!important;	
}
.padding-top-xs-50{
	padding-top:50px!important;	
}
.padding-top-xs-60{
	padding-top:60px!important;	
}
.padding-top-xs-70{
	padding-top:70px!important;	
}
.padding-top-xs-80{
	padding-top:80px!important;	
}
.padding-top-xs-90{
	padding-top:90px!important;	
}
.padding-top-xs-100{
	padding-top:100px!important;	
}
.padding-top-xs-110{
	padding-top:110px!important;	
}
.padding-top-xs-120{
	padding-top:120px!important;	
}
.padding-top-xs-130{
	padding-top:130px!important;	
}
.padding-top-xs-140{
	padding-top:140px!important;	
}
.padding-top-xs-150{
	padding-top:150px!important;	
}
.padding-top-xs-200{
	padding-top:200px!important;	
}
	
}

/*End Margin & Padding ----------------------------------------------------------------*/


.display-table{
	display:table;	
}
.display-block{
	display:block;	
}
.display-inline{
	display:inline;	
}
.display-inline-block{
	display:inline-block;	
}
.display-inline-table{
	display:inline-table;	
}
.display-list-item{
	display:list-item;	
}
.display-inherit{
	display:inherit;	
}

@media screen and (min-width:1200px){
.display-table-lg{
	display:table;	
}
.display-block-lg{
	display:block;	
}
.display-inline-lg{
	display:inline;	
}
.display-inline-block-lg{
	display:inline-block;	
}
.display-inline-table-lg{
	display:inline-table;	
}
.display-list-item-lg{
	display:list-item;	
}
.display-inherit-lg{
	display:inherit;	
}	
}


@media screen and (max-width:1199px){
.display-table-md{
	display:table;	
}
.display-block-md{
	display:block;	
}
.display-inline-md{
	display:inline;	
}
.display-inline-block-md{
	display:inline-block;	
}
.display-inline-table-md{
	display:inline-table;	
}
.display-list-item-md{
	display:list-item;	
}
.display-inherit-md{
	display:inherit;	
}	
}


@media screen and (min-width:768px) and (max-width:991px){
.display-table-sm{
	display:table;	
}
.display-block-sm{
	display:block;	
}
.display-inline-sm{
	display:inline;	
}
.display-inline-block-sm{
	display:inline-block;	
}
.display-inline-table-sm{
	display:inline-table;	
}
.display-list-item-sm{
	display:list-item;	
}
.display-inherit-sm{
	display:inherit;	
}	
}

@media screen and (max-width:767px){
.display-table-xs{
	display:table;	
}
.display-block-xs{
	display:block;	
}
.display-inline-xs{
	display:inline;	
}
.display-inline-block-xs{
	display:inline-block;	
}
.display-inline-table-xs{
	display:inline-table;	
}
.display-list-item-xs{
	display:list-item;	
}
.display-inherit-xs{
	display:inherit;	
}	
}


