@charset "utf-8";
/* CSS Document */



.slide{height: 315px}

.carousel {
	margin: 10px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
    text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	border: 1px solid #e7e7e7;
	
}

.carousel .thumb-wrapper:hover{
-webkit-box-shadow: 0 0 15px 1px rgba(33,33,33,.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 0 15px 1px rgba(33,33,33,.4);  /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0 15px 1px rgba(33,33,33,.4);
}

.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .item h4{
    font-family: "robotoregular";
    color: #444444;}

.carousel .thumb-content .btn {
	color: #fff;
    font-size: 11px;
    text-transform: uppercase;
        font-family: 'robotobold';
    font-weight: normal;
    background: #00b904;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
   
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #fea317;
	box-shadow: none;
	 border: 1px solid #fea317;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
	height: 44px;
	width: 40px;
	/*background: #00b904;*/	
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.3;
}
.carousel .carousel-control:hover {
	/*background: #fea317;*/
	opacity: 1;
	
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 25%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #444444;
	text-shadow: none;
    font-weight: bold;
}

.carousel .carousel-control i:hover{color: #000}

.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -25px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}