@charset "utf-8";
/* CSS Document */

.banner{padding: 0px}
.banner img{width: 100%}
.contback{     padding: 30px; background: #f5f7fa;}
.contcont{background: #fff;    border: solid 1px #e6ecf2;padding: 35px !important}
.contcont h2{margin-top: 20px;margin-bottom: 15px;text-transform: uppercase;}
.contcont p{color: #444444}
.contcont p span{color: #8b8b8b;}
.contcont h6{
    margin-left: 4%;font-size: 20px;
    margin-bottom: 2%;}
.subty{}
.contcont li{
display: block;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    border-bottom: 2px solid #d2dbe6;
    background-color: #f5f7fa;}
.custom-radio .custom-control-input:checked~.custom-control-label::before {    background: #00b904;}
.service{ background-color: #f5f7fa;
    border: none;box-shadow: 0px 0px 5px 0px #ccccccf5;
    border-bottom: 3px solid #ffa726;margin-bottom: 25px;

}

.custom-control-label::after{    border: 2px solid #c1c1c1;
    border-radius: 10px;}
.custom-radio .custom-control-input:checked~.custom-control-label::after{    border: 0;
    border-radius: 0;}

.service img{border-radius: 50px;padding: 5px;margin-top: 10px;margin-bottom: 5px}
.service p{    color: #00b904;    font-family: 'robotobold';}