  .ui-tooltip, .arrow:after {
    background: #000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#004905 , #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #004905 , #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #004905 , #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #004905 , #000000); /* Standard syntax */
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 2px black;
	  text-align: center;
	  font-size:18px;
	  font-family: 'HelveticaNeueLTStd-LtCn';
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
	  
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }